@import url('./blocks/layout.css');
@import url('./blocks/menu.css');
@import url('./blocks/ui.css');
@import url('./blocks/hud.css');
@import url('./blocks/world.css');

@import url('./components/animations.css');
@import url('./components/buildings.css');
@import url('./components/camera.css');
@import url('./components/emitter.css');
@import url('./components/player-tag.css');

@import url('./effects/vfx.css');
@import url('./components/car.css');
@import url('./utils/tiles.css');

@import url('./utils/colors.css');
@import url('./utils/debug.css');
@import url('./utils/flexgrid.css');
@import url('./utils/gizmo.css');

@import url('./utils/patterns.css');
@import url('./utils/materials.css');

@property --animation-duration {
  syntax: "<number>";
  initial-value: 0;
  inherits: true;
}

@property --angle {
  syntax: "<number>";
  initial-value: 0;
  inherits: true;
}

@property --player-color {
  syntax: "<color>";
  initial-value: #BADA55;
  inherits: true;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background-color: var(--player-color);
  color: contrast-color(var(--player-color));
}

body {
  background-color: black;
  display: grid;
  overflow: hidden;
  font-family: "Barlow Semi Condensed", "Roboto Condensed", sans-serif;
  font-size: 1.33em;

  transition: background-color .75s .5s cubic-bezier(.65,.05,.36,1);

  /* this may seem like a drastic sweeping measure  but you really don't want people  */
  /* selecting every item in the world. bit immersion breaking, that                  */
  /* We'll allow on a case-by case basis for meow.                                    */
  /* FIXME: move this to everything inside #camera-viewport?                          */
  user-select: none;

}

/* TODO: organize */

.preload.off-screen {
  display: none;
}

svg#filters {
  height: 0;
  width: 0;
  visibility: hidden;
}