@import url('./blocks/layout.css');
@import url('./blocks/menu.css');
@import url('./blocks/world.css');

@import url('./components/animations.css');
/* @import url('./components/buildings.css'); */
@import url('./components/camera.css');
@import url('./components/tweaker.css');

@import url('./effects/vfx.css');
@import url('./components/car.css');
@import url('./utils/tiles.css');

@import url('./utils/colors.css');
@import url('./utils/debug.css');
@import url('./utils/gizmo.css');

@import url('./utils/patterns.css');
@import url('./utils/materials.css');

@property --animation-duration {
  syntax: "<number>";
  initial-value: 0;
  inherits: true;
}

@property --angle {
  syntax: "<number>";
  initial-value: 0;
  inherits: true;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
}

body {
  background-color: aquamarine;
  display: grid;
  font-family: sans-serif;
  overflow: hidden;
}

/* TODO: organize */

svg#filters {
  height: 0;
  width: 0;
  visibility: hidden;
}