@property --player-position {
  syntax: "*";
  initial-value: "0px 0px";
  inherits: true;
}

.debug-uv {
  
  --checker-color: rgba(0, 0, 0, 0.5);
  --checker-width:  var(--uv-size, 512px);
  --checker-height: var(--uv-size, 512px);

  --gradient: linear-gradient(
      to top left, 
      var(--checker-color) 25.1%, 
      transparent 0, 
      transparent 74.9%, 
      var(--checker-color) 0
    );

    --debug-uv: var(--gradient) 0 0 / var(--checker-width) var(--checker-height),
    var(--gradient) calc(var(--checker-width) / 2) calc(var(--checker-height) / 2) / var(--checker-width) var(--checker-height);

  /* player element container is 256px */
  --player-position:
      calc((var(--player-x) * -1px) + (50vw - 128x)) calc((var(--player-y) * -1px) + (50vh - 128px));

  /* FIXME: re-enable background after testing */ 
  background:
    var(--level-artwork),
    var(--debug-uv, none);
    background-attachment: local;
}

html {
  --s: 100px; /* control the size*/
  --c1: black; /* large gridlines*/
  --c2: #0003; /* small gridlines */ 
  --_g: #fff3 90deg,var(--c1) 0; /* background */
}

.vehicle {
  --collider-color: transparent;
  /* general purpose vehicle debug canvas @ 256px */
  &::after {
    content: var(--driver-id) " " attr(data-state);
    position: absolute;
    inset: 0;
    
    /* background: url(/assets/uvmap.png); */
    background: 
      conic-gradient(from 90deg at 1px 1px,var(--_g)),
      conic-gradient(from 90deg at 1px 1px,var(--_g)),
      var(--c2);
    background-size: var(--s) var(--s), calc(var(--s)/5) calc(var(--s)/5);

    inset: 0;
    z-index: -1;
    opacity: .5;
  }
  /* collider viz circle */
  &::before {
    content: '';
    position: absolute;
    inset: 50%;
    width: calc(var(--radius) * 2px);
    height: calc(var(--radius) * 2px);
    z-index: 2;
    border-radius: 50%;
    translate: -50% -50%;
    outline: 2px dashed var(--collider-color, white);
    transition: outline calc(var(--transition-duration, .5) * 1s) ease;
  }
}