@property --player-position {
  syntax: "*";
  initial-value: "0px 0px";
  inherits: true;
}
main {
  --checker-color: rgba(0, 0, 0, 0.5);
  --gradient: linear-gradient(
      to top left, 
      var(--checker-color) 25.1%, 
      transparent 0, 
      transparent 74.9%, 
      var(--checker-color) 0
    );

  --checker-width:  512px;
  --checker-height: 512px;

  /* player element container is 256px */
  --player-position:
      calc((var(--player-x) * -1px) + (50vw - 128x)) calc((var(--player-y) * -1px) + (50vh - 128px));

  /* FIXME: re-enable background after testing */ 
  background:
    url(/levels/assen/assen_track.webp) 0 0 / calc(4 * 8192px) calc(4 * 8192px),
    var(--gradient) 0 0 / var(--checker-width) var(--checker-height),
    var(--gradient) calc(var(--checker-width) / 2) calc(var(--checker-height) / 2) / var(--checker-width) var(--checker-height);
  background-attachment: local;

  &::after { 
    content: '';
    position: fixed;
    inset: 0;
    scale: 1;
    
  }

  &::after {
    mix-blend-mode: multiply;

    background-attachment: fixed;
    background-color: #0d1342a1;
    background-image: url(/levels/assen/assen_lights.png);
    background-position: calc(var(--player-x) * -1px + (50vw)) calc(var(--player-y) * -1px + (50vh));
    background-size: calc(4 * 8192px) calc(4 * 8192px);

    /* mask: linear-gradient(white, white), url(/levels/assen/assen_elevated.png) 0 0 / calc(4 * 8192px) calc(4 * 8192px);
    mask-position:  var(--player-position);
    mask-composite: exclude;
    image-rendering: pixelated; */
  }

  .elevated {
    
    --player-position-with-offset: calc(var(--player-x) * -1px + (50vw)) calc(var(--player-y) * -1px + (50vh));
    
    position: fixed;
    inset: 0;
    background: url(/levels/assen/assen_elevated.webp) var(--player-position-with-offset) / calc(4 * 8192px) calc(4 * 8192px);
    background-attachment: fixed;

    transform-origin: var(--player-position);
    scale: 1;
    z-index: 10;
    /* image-rendering: pixelated; */
  } 
}