@property --player-position {
  syntax: "*";
  initial-value: "0px 0px";
  inherits: true;
}

.debug-uv {
  
  --checker-color: rgba(0, 0, 0, 0.5);
  --checker-width:  var(--uv-size, 512px);
  --checker-height: var(--uv-size, 512px);

  --gradient: linear-gradient(
      to top left, 
      var(--checker-color) 25.1%, 
      transparent 0, 
      transparent 74.9%, 
      var(--checker-color) 0
    );

    --debug-uv: var(--gradient) 0 0 / var(--checker-width) var(--checker-height),
    var(--gradient) calc(var(--checker-width) / 2) calc(var(--checker-height) / 2) / var(--checker-width) var(--checker-height);

  /* player element container is 256px */
  --player-position:
      calc((var(--player-x) * -1px) + (50vw - 128x)) calc((var(--player-y) * -1px) + (50vh - 128px));

  /* FIXME: re-enable background after testing */ 
  background:
    var(--level-artwork),
    var(--debug-uv, none);
    background-attachment: local;
}

.vehicle {
  &::after {
    content: var(--driver-id) " " attr(data-state);
    position: absolute;
    inset: 0;
    color: white;
    background: url(/assets/uvmap.png);
    inset: 0;
    z-index: 0;
    opacity: .75;
  }
}