@property --outline-color {
    syntax: "<color>";
    initial-value: white;
    inherits: true;
}

/* De Gizmo Ringen */
.gizmo {
    position: absolute;
    width: calc(var(--radius) * 2px);
    height: calc(var(--radius) * 2px);
    pointer-events: none;
     /* Standaard uit */
    transform-style: preserve-3d;
    translate: -50% -50% !important;
    left: 50% !important;
    top: 50% !important;
}

[data-debug="true"] .gizmo { display: block; }

.ring {
    position: absolute;
    inset: 0;
    outline: 4px dashed var(--collider-color);
    border-radius: 50%;
}

/* XYZ -> RGB Utilities via CSS variabelen of directe klasses */
.gizmo .x { --collider-color: var(--axis-x-color); transform: rotateY(90deg); }
.gizmo .y { --collider-color: var(--axis-y-color); transform: rotateX(90deg); }
.gizmo .z { --collider-color: var(--axis-z-color); }                         /* Yaw */