
@import url('./patterns.css');

.building {

  /* &::before {
    content: 'building floor level';
    position: absolute;
    inset: 0;
    padding: 1ex;
    color: pink;
  } */

  /* &::after {
    content: 'structure: ' attr(class);
    background-color: #67676706;
    border-radius: 32px;
    position: absolute;
    inset: -72px;
    padding: 3ex 72px;
    transform: translateZ(-1px); 
    
  } */

  .wall-n, 
  .wall-e,
  .wall-w, 
  .wall-s {
    /* 1. on top, we draw the floors in a repeating horizontal gradient using the column color and transparency  */
    /*    one floor height is 64 pixels. 
    /* 2. below that, a second gradient with column color and "window color" from left to right to draw the columns */
    /* 3. finally, we draw a stroke the size of 1 column across the top/ around the entirety? of the wall */

    background-color: transparent;

    background-image: 
      repeating-linear-gradient(
      to bottom,
      var(--column-color, white) 0,
        var(--column-color, white) calc(var(--column-fill-size) * 1px),
        transparent calc((var(--column-fill-size) * 1px) + 1px),
        transparent  64px),

      repeating-linear-gradient(
        90deg,
        var(--column-color, white) 0,
        var(--column-color, white) calc(var(--column-fill-size) * 1px),
        rgb(from var(--face-color, #999) r g b / var(--face-opacity, 1)) calc((var(--column-fill-size) * 1px) + 1px),
        rgb(from var(--face-color, #999) r g b / var(--face-opacity, 1)) calc( (var(--column-size) + var(--column-fill-size)) * 1px)
        )
      ;
    /* one big fat stroke around the thing for good measure */
    /* border: calc((var(--column-fill-size) * 1px))  solid var(--column-color, red);  */
    /* */
    border-bottom-width: 0;

  }

  & > .roof {
    background: #111;
    box-shadow: inset 0 0 0 16px #222;
    display: grid;
    place-content: end center;
    text-shadow: 
       1px 1px 4px hsla(from var(--column-color) h s 30% / 30%), 
      -1px -1px 4px hsla(from var(--column-color) h s l / 30%);
    color: var(--face-color);
    padding: 8px;

    .sign {
      transform-style: preserve-3d;
      transform-box: border-box;
      display: flex;
      flex-direction: column-reverse;

      h3:not(:empty) {
        background: linear-gradient(to top, var(--column-color), var(--column-color));
        opacity: 1;
        transform-origin: bottom;
        transform: rotateX(-90deg);
        padding: .25ex .5ex;
        border-radius: .25ex;
        font-size: smaller;
        color: var(--face-color);
      }
      p {
        text-shadow: none;
        font-size: small;
        color: white;
      }
    }
  }
}

/* --- Default dev texturing ---*/
.mat-default {

  &::after {
    content: 'building lot (under construction)' !important;
    background-color: #0001 !important;
    border-radius: 0 !important;
    outline: 2px dashed currentColor;
    color: #ee06;
    background-image: 
      repeating-linear-gradient(45deg, rgb(from currentColor r g b / .05) 0, 
      rgb(from currentColor r g b / .05) 8px, transparent 9px, transparent 16px);
    
  }
  
  .wall-n { --face-dev-color: var(--axis-x-color);}
  .wall-e { --face-dev-color: var(--axis-y-color);}
  .wall-s { --face-dev-color: hsl(from var(--axis-x-color) h s 24 );}
  .wall-w { --face-dev-color: hsl(from var(--axis-y-color) h s 32 );}
  .roof {--face-dev-color: hsl(from var(--axis-z-color) h s l );}

  .wall-n, 
  .wall-e,
  .wall-w, 
  .wall-s, 
  .roof {
    border: 2px dashed  var(--face-dev-color) !important;
    background-image: 
      repeating-linear-gradient(-45deg, 
        hsla( from var(--face-dev-color) h s l / 25%) 0, 
        hsla( from var(--face-dev-color) h s l / 25%) 8px, transparent 9px, transparent 16px),
        url(/assets/uvmap.png);
        ;
    background-clip: border-box;
  }
  
  .sign {
    
    h3 { background: transparent !important; border: 2px dashed currentColor}  
  }
}

.mat-garages { 
  & .wall-s {
    border: none;
  }
}

/* --- Paddock Buildings --- */
.mat-paddock {

  .wall-n,
  .wall-e,
  .wall-s,
  .wall-w {
    backface-visibility: hidden;
    background-color: rgb(from var(--face-color, #999) r g b / var(--face-opacity, .5));
  }

  .wall-s {
  
    /* clips a door in the facade of .mat-paddock buildings.. (FIXME: gestures) ..somewhere in the bottom */
    clip-path: polygon(
      0 0%, 
      100% 0, 
      100% 100%, 
      calc(50% - 8px) 100%, 
      calc(50% - 8px) calc(100% - 20px), 
      36% calc(100% - 20px), 
      36% 100%, 0 100%
    )
  }
}

/* --- Paddock Concession stands --- */

.foodtruck, 
.mat-dixi {
  &::after {
    content: none;
  }

  .roof {
    .sign {
      h3 {
        font-size: initial !important;
      }
    }
  }
}

/* --- GRANDSTANDS  --- */

/* Grandstand front gets a fence with advertising (for now) */

.bridge {
  &>.wall-n, 
  &>.wall-e, 
  &>.wall-s, 
  &>.wall-w {
    backface-visibility: visible;
    background-color: rgb(from var(--face-color, #999) r g b / var(--face-opacity, .5));
  }

  /* FIXME: expand to allow non-stairway-having ass bridges */
  &>.wall-e, &>.wall-w {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.1));
    background-size: 100% 4px ;
    background-repeat: repeat;
    border-inline: 4px solid var(--column-color);
  }

  &>.roof {
    background-color: transparent;
    box-shadow: inset 0 0 0 calc(var(--d) / 4 ) #222;
  }

  &.honkin {

    .wall-n,
    .wall-s {
      background-image: url(/assets/environment/advertising/honkin.svg);
      background-repeat: repeat-x;
      background-position: left bottom;
      background-size: 172px 32px;
    }
  }
}

.mat-grandstands {

  > div {
    backface-visibility: visible !important;
  }
  
  .wall-n {
    display: none;
  }
  
  .wall-e, 
  .wall-w {
    /* background-color: #7773;
    background-image: repeating-linear-gradient(90deg, black 0px, black 10px, transparent 11px, transparent 100px);
    outline: 2px solid #333; */
  }

  .wall-n, 
  .wall-s { 
    /* height: calc(var(--d) * 1.25); */
    background: #999;
    
  }

  .wall-s {
     background: 
      repeating-linear-gradient(25deg, #999 0, #999 1px, transparent 0, transparent 10px),
      repeating-linear-gradient(-25deg, #999 0, #999 1px, transparent 0, transparent 10px); 
  }
 
  .roof {
    background-color: #2196F3;
    background-image: 
      repeating-linear-gradient(
        to bottom,
        transparent,
        transparent 12px,
        rgba(0,0,0,0.2) 12px,
        rgba(0,0,0,0.2) 15px
        );
        
      box-shadow: inset 0 20px 20px rgba(255,255,255,0.95);
  }

  
  .wall-e,
  .wall-s,
  .wall-w {
    outline: 2px solid #333;
    background:
      var(--sponsor-url),
      linear-gradient(to top, white, white 31px, transparent 32px, transparent),
      repeating-linear-gradient(45deg, #3336 0, #9996 1px, transparent 0, transparent 10px) 128px 128px,
      repeating-linear-gradient(-45deg, #6666 0, #3336 1px, transparent 0, transparent 10px) 128px 128px,
      repeating-linear-gradient(90deg, #3336, #3336 5px, transparent 6px, transparent 128px) 128px 128px;
    background-size: 128px 30px, 128px;
    background-repeat: repeat-x, repeat;
    background-position:  left bottom;
  }

  /* HONKIN (tm) #1 Beer for Thirsty Racefans(R) MAIN GRANDSTANDS */ 
  /* FIXME: the chain fence design along the main straight.. it's like Meowschwitz in here */
  &.honkin {
    --sponsor-url: url(/assets/environment/advertising/honkin.svg);
  }
  
  &.roflx {
    --sponsor-url: url(/assets/environment/advertising/ROFLX.svg);
  }
  
  &.uliq-moly {
    --sponsor-url: url(/assets/environment/advertising/uliq-moly.svg);
    .wall-e,
    .wall-s,
    .wall-w {
      
      background-size: 66px 25px, 128px;
      background-position: 0px 36px, left bottom;
    }
  }
}

.mat-fence {
  --sponsor-url: url();
  background-color: rgba(20, 20, 20, 0.15);
  

  background-image: 
    linear-gradient(to top, #0003, transparent),
    var(--sponsor-url),
    linear-gradient(#ddd, white),
    repeating-linear-gradient(black 0, transparent 1px, transparent 16px),
    repeating-linear-gradient(-45deg, #0006 0, transparent 1px, transparent 8px), 
    repeating-linear-gradient(225deg, #0003 0, transparent 1px, transparent 8px),
    repeating-linear-gradient(-90deg, black 0, black 4px, transparent 4px, transparent 512px)
    ;
  background-repeat: repeat-x, repeat-x, repeat-x, repeat, repeat, repeat, repeat;
  background-position: left bottom;
  background-size: 
    64px 32px, 64px 32px, 64px 32px, 128px 128px, 128px 128px, 128px 128px, 512px 512px;
  
  &.uliq-moly {
    --sponsor-url: url(/assets/environment/advertising/uliq-moly.svg);
    background-size: 64px 32px, 72px 30px, 64px 32px, 128px 128px, 128px 128px, 128px 128px, 256px 512px;
  }

  &.honkin {
    --sponsor-url: url(/assets/environment/advertising/honkin.svg);
    background-size: 64px 32px, 172px 32px, 64px 32px, 128px 128px, 128px 128px, 128px 128px, 256px 512px;
  }

  &.roflx {
    --sponsor-url: url(/assets/environment/advertising/ROFLX.svg);
  }

  &.guardrail {

  }

}

.mat-apartments {
  .wall-n,
  .wall-e,
  .wall-s,
  .wall-w  {
    background-image: url(/assets/environment/facade/apartments-512.webp);
    background-size: 592px 412px;
  }
}

.mat-commercial {
  .wall-n,
  .wall-e,
  .wall-s,
  .wall-w  {
    background-image: url(/assets/environment/facade/commercial.jpg);
    background-size: 320px 72px;
    background-position: bottom;
  }
  
  /* TODO: we could make variations using 
   * filter: hue-rotate() saturation() sepia() etc 
   * using :nth-of-type(n) or something even more clever 
   */
}

.mat-townhouse {
  .wall-n,
  .wall-e,
  .wall-s,
  .wall-w  {
    background-image: url(/assets/environment/facade/townhouse.webp);
    background-size: 256px 128px;
  }
}

/* beetje lief voor jezelf zijn zo nu en dan */
.mat-office,
.mat-offices {
  .wall-n,
  .wall-e,
  .wall-s,
  .wall-w  {
    /* TODO: cut this texture into two separate textures (glass, concrete) */
    background-image: url(/assets/environment/facade/photo-1639649151124-cbfe4bf6b475-512.avif);
    background-size: 302px 276px;
  }
  &[data-graffiti] {
    .wall-n,
    .wall-e,
    .wall-s,
    .wall-w  {
      &::after{
        content: 'graffiti';
        position: absolute;
        inset: 0;
        background-color: black;
        mask-image: url(/assets/environment/graffiti-mask.webp);
        mask-mode: luminance;
        mask-position: bottom;
        mask-repeat: no-repeat;
        mask-size: 512px 128px;
      }
    }
  }
}


.mat-ferris-wheel {

  & .wall-s {
    background: url('/assets/environment/ferris-wheel-base.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      background-image: url('/assets/environment/ferris-wheel.png');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      transform: translateZ(-10px) rotateZ(0deg);
      animation: ferris 3s linear forwards infinite;
      mix-blend-mode: multiply;
    }
  }
}

@keyframes ferris {
  to {
    transform: translateZ(-10px) rotateZ(calc(360deg / 8))
  }
}

/* NATURE */

.tree {
  position: absolute;
  width: 256px;
  height: 256px;
  
  --tree-img-url: url('/assets/environment/trees/Oak-A1.png');

  color: hsl(from var(--tree-color) h s 8%);
  display: grid;
  
  transform-style: preserve-3d;
  translate: -50% -50%;

  &:before {
    content: '';
    place-self: center;
    width: 16px;
    height: 16px;
    border: 1px solid var(--tree-color);
    border-radius: 50%;
  }

  /* debug viz */
  /*
  &::after {
    content: attr(class);
    grid-area: 1 / 1 / -1 / -1;
    display: block;
    inset: 0;
    position: absolute;
    padding: 2ex;
    background: rgb(from var(--tree-color) r g b / 20%);
    border: 6px dotted rgb(from var(--tree-color) r g b / 50%);
    border-radius: 7%;
  }
  */

  > span { /* tree card */
    
    transform-origin: bottom;
    height: 256px;
    width: 256px;
    background: transparent var(--tree-img-url);
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotateX(-90deg);
    position: absolute;
    bottom: 50%;
    left: 0;
    background-position: bottom;
    transform-style: preserve-3d;
  }
  
  &.fir {
    --tree-img-url: url(/assets/environment/trees/Fir-A1.png);
  }

  &.palm {
    --tree-img-url: url(/assets/environment/trees/Palm-A1.png);
  }

  &.pine {
    --tree-img-url: url(/assets/environment/trees/Pine-A1.png);
  }

  > span + span { /* tree card but rotated 90deg*/
    background-color: transparent;
    transform: rotateX(0deg) rotateY(90deg) rotateZ(-90deg);
    transform-style: preserve-3d;
    
    /* let's have a good think about this */
    /* for one: these lil shits need to be */ 
    /* IntersectionObserver'd tf out of the rendering PL, like yesterday lmao */
    /* also: maybe only to "realtime" shadown anim in walking mode.
    
    /* tree shadow */
    /*
    &::after { 
      content: '';
      position: absolute;
      inset: 0;
      background: inherit;
      
      transform-origin: bottom;
      transform: rotateX(90deg) translateZ(1px) rotateZ(140deg) scaleY(2.5);
      filter: brightness(0) opacity(.25) blur(50px);
      transition: 10s;
    }
    */
  }
}

/* Water */

@property --tile-color {
  syntax: "<color>";
  inherits: true;
  initial-value: white;
}

@property --tile-highlight-color {
  syntax: "<color>";
  inherits: true;
  initial-value: white;
}

@property --mortar-color {
  syntax: "<color>";
  inherits: true;
  initial-value: black;
}

.mat-water {
  --mortar-color: #34767cbe;
  --tile-color: rgba(114, 247, 247, .25);
  --tile-highlight-color: hsl(from var(var(--tile-color)) h s 20% );
  
  background-color: var(--tile-color); 
  
  background-image: 
    linear-gradient(var(--mortar-color) 0, var(--mortar-color) 1px, transparent 2px),
    linear-gradient(to right, var(--mortar-color, black) 0, var(--mortar-color, black) 1px, transparent 2px),
    linear-gradient( var(--tile-highlight-color, white) 1px,  var(--tile-highlight-color, white) 2px, transparent 3px),
    linear-gradient(to right, var(--tile-highlight-color, white) 1px, var(--tile-highlight-color, white) 2px, transparent 3px);
    
    background-repeat: repeat;
    background-size: 16px 16px;
    
  translate: 0 0 0;

  &::before {
    translate: 0 0 1px;
    background: inherit;
  }
  
  &:not(.off-screen)::before {
    filter: blur(0px) url(#water-loop);
  }

  &::after {
    background-color: transparent;
    outline: 2px solid yellow;
  }
  .roof {
    background-color: transparent;
    box-shadow: 0 0 0 16px var(--column-color);
    border-radius: 2px;
  }
}

/* Firefox doesn't seem to like the backdrop-filter .mat-water::before? 
.mat-water {
  --mortar-color: #208e989e;
  --tile-color: #5fd4d4;
  
  background-color: var(--tile-color); 
  
  background-image: 
    linear-gradient(var(--mortar-color) 0, var(--mortar-color) 1px, transparent 2px), linear-gradient(to right, var(--mortar-color, black) 0, var(--mortar-color, black) 1px, transparent 2px), linear-gradient( white 1px, #ffffff42 2px, transparent 3px), linear-gradient(to right, #ffffff6e 1px, #ffffff4d 2px, transparent 3px);
    
    background-repeat: repeat;
    background-size: 16px 16px;
    
  translate: 0 0 0;
  &::before {
    translate: 0 0 1px;
    filter: blur(0px) url(#water-loop);
    background: inherit;
  }
  
  &::after {
    background-color: transparent;
    outline: 2px solid yellow;
  }
  .roof {
    background-color: transparent;
    box-shadow: 0 0 0 16px var(--column-color);
    border-radius: 2px;
  }
}
