/* NOICE! */

.noise {
  background-image: url('/assets/noise.png');
  background-repeat: repeat;
  background-attachment: local; /* Cruciaal: het beweegt mee met de scroll-offset */
  background-size: 200px 200px;
}