.bricks > *:not(.roof) {
  --s: 17px; /* control the size*/
  --c1: #f1d4af;
  --c2: #7f726c;
  
  --g:conic-gradient(at 90% 40%,#0000 75%,var(--c1) 0);
  background: var(--g),var(--g) var(--s) var(--s) var(--c2);
  background-size: calc(2*var(--s)) calc(2*var(--s));
}



.fencing {
  /* Het 'gaas' patroon met een simpele gradient */
  --fence-pattern:  
    repeating-linear-gradient(45deg, #999 0, #999 1px, transparent 0, transparent 10px),
    repeating-linear-gradient(-45deg, #999 0, #999 1px, transparent 0, transparent 10px);
  background-image: var(--fence-pattern); /* Uit je materials.css */
  background-size: 20px 20px;
}

.pool {
    background: #00BCD4;
    width: 190px;
    height: 370px;
    inset: 20px;
    position: absolute;
    --s: 16px; /* control the size*/
    --c1: #084c7f;
    --c2: #95d6d5;
    --t: calc(var(--s)/10);  /* control the thickness */
    --_c: #0000 calc(98% - var(--t)),var(--c1) calc(100% - var(--t)) 98%,#0000;
    --_s: calc(2*var(--s)) calc(5*var(--s)/2);
    --_r0: /var(--_s) radial-gradient(calc(var(--s)/2) at 0    20%,var(--_c));
    --_r1: /var(--_s) radial-gradient(calc(var(--s)/2) at 100% 20%,var(--_c));
    background:
    0 0 var(--_r0),calc(-1*var(--s)) calc(5*var(--s)/4) var(--_r0),
    var(--s) 0 var(--_r1),0 calc(5*var(--s)/4) var(--_r1),
    conic-gradient(at var(--t) calc(20% + 2*var(--t)),#0000 75%,var(--c1) 0)
    calc(var(--t)/-2) calc(var(--s) - var(--t))/var(--s) calc(5*var(--s)/4),
    repeating-conic-gradient(var(--c2) 0 25%,#0000 0 50%)
    var(--s) calc(var(--s)/-8)/var(--_s),
    conic-gradient(from 90deg at var(--t) var(--t),var(--c2) 25%,var(--c1) 0) 
    calc((var(--s) - var(--t))/2) calc((var(--s) - var(--t))/2)/var(--s) calc(5*var(--s)/4);

    clip-path: inset(16px round 8px);
}