/* dit is ook weer een mooi hoekje CSS selector-gebeuren he */

.bricks > *:not(.roof) {

  /* size*/
  --s: 17px; 
  /* brick */
  --c1: #f1d4af;
  /* mortar */
  --c2: #7f726c;
  
  --g:conic-gradient(at 90% 40%,#0000 75%,var(--c1) 0);
  background-image: var(--g),var(--g) var(--s) var(--s) var(--c2);
  background-size: calc(2*var(--s)) calc(2*var(--s));
}



.fencing {
  /* Het 'gaas' patroon met een simpele gradient    */
  /* FIXME: dit heet `chainlink` in het Buitenlands */
  /* FIXME: parametrize, split defs into .fence-material and generic pattern */
  /* TODO: add picket fence, kasteel / kerkhof, modern fence etc */
  --fence-pattern:  
    repeating-linear-gradient(45deg, #999 0, #999 1px, transparent 0, transparent 10px),
    repeating-linear-gradient(-45deg, #999 0, #999 1px, transparent 0, transparent 10px);
  
  background-image: var(--fence-pattern); 
  background-size: 20px 20px;
}

.pool {
    background: #00BCD4;
    width: 190px;
    height: 370px;
    inset: 20px;
    position: absolute;
    --s: 16px; /* control the size*/
    --c1: #084c7f;
    --c2: #95d6d5;
    --t: calc(var(--s)/10);  /* control the thickness */
    --_c: #0000 calc(98% - var(--t)),var(--c1) calc(100% - var(--t)) 98%,#0000;
    --_s: calc(2*var(--s)) calc(5*var(--s)/2);
    --_r0: /var(--_s) radial-gradient(calc(var(--s)/2) at 0    20%,var(--_c));
    --_r1: /var(--_s) radial-gradient(calc(var(--s)/2) at 100% 20%,var(--_c));
    background:
    0 0 var(--_r0),calc(-1*var(--s)) calc(5*var(--s)/4) var(--_r0),
    var(--s) 0 var(--_r1),0 calc(5*var(--s)/4) var(--_r1),
    conic-gradient(at var(--t) calc(20% + 2*var(--t)),#0000 75%,var(--c1) 0)
    calc(var(--t)/-2) calc(var(--s) - var(--t))/var(--s) calc(5*var(--s)/4),
    repeating-conic-gradient(var(--c2) 0 25%,#0000 0 50%)
    var(--s) calc(var(--s)/-8)/var(--_s),
    conic-gradient(from 90deg at var(--t) var(--t),var(--c2) 25%,var(--c1) 0) 
    calc((var(--s) - var(--t))/2) calc((var(--s) - var(--t))/2)/var(--s) calc(5*var(--s)/4);

    clip-path: inset(16px round 8px);
}

/* https://uiverse.io/csemszepp/fat-panther-54 */
.honeycomb {
  /* FIXME: make colors parametrizable */
  width: 100%;
  height: 100%;
  --s: 37px; /* control the size */

  --c: #0000, #2fb8ac 0.5deg 119.5deg, #0000 120deg;

  --g1: conic-gradient(from 60deg at 56.25% calc(425% / 6), var(--c));
  --g2: conic-gradient(from 180deg at 43.75% calc(425% / 6), var(--c));
  --g3: conic-gradient(from -60deg at 50% calc(175% / 12), var(--c));
  background: var(--g1), var(--g1) var(--s) calc(1.73 * var(--s)), var(--g2),
    var(--g2) var(--s) calc(1.73 * var(--s)), var(--g3) var(--s) 0,
    var(--g3) 0 calc(1.73 * var(--s)) #ecbe13;
  background-size: calc(2 * var(--s)) calc(3.46 * var(--s));
}

.circles {
  --c1: #929292e1;
  --c2: #888888d3;
  --c3: #c5c5c598;

    background: radial-gradient(32px,
    rgba(255,255,255,0) 80%, 
    var(--c1, #778691) 80%, var(--c1, #778691) 99%, 
    rgba(255,255,255, 0) 
    ) 0 0,
    radial-gradient(32px,
    rgba(255,255,255,0) 80%, 
    var(--c1, #778691) 80%, var(--c1, #778691) 99%,  
    rgba(255,255,255, 0) 
    ) 4em 4em,
    radial-gradient(72px,
    rgba(255,255,255,0) 50%, 
    var(--c2, #B1C2B3) 50%,
    var(--c2, #B1C2B3) 75%, var(--c2, #B1C2B3) 99%, 
    rgba(255,255,255, 0) 
    ) 4em 4em,
    radial-gradient(72px,
    rgba(255,255,255,0) 50%, 
    var(--c2, #B1C2B3) 50%,
    var(--c3, #F5FCD0) 75%, var(--c2, #B1C2B3) 99%, 
    rgba(255,255,255, 0) 
    ) 0 0 ;
  background-size: 64px 64px !important;
  background-color: var(--c3, #F5FCD0);
}

.moroccan {
  
  background-image: url("data:image/svg+xml,%3Csvg width='80' height='88' viewBox='0 0 80 88' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22 21.91V26h-2c-9.94 0-18 8.06-18 18 0 9.943 8.058 18 18 18h2v4.09c8.012.722 14.785 5.738 18 12.73 3.212-6.99 9.983-12.008 18-12.73V62h2c9.94 0 18-8.06 18-18 0-9.943-8.058-18-18-18h-2v-4.09c-8.012-.722-14.785-5.738-18-12.73-3.212 6.99-9.983 12.008-18 12.73zM54 58v4.696c-5.574 1.316-10.455 4.428-14 8.69-3.545-4.262-8.426-7.374-14-8.69V58h-5.993C12.27 58 6 51.734 6 44c0-7.732 6.275-14 14.007-14H26v-4.696c5.574-1.316 10.455-4.428 14-8.69 3.545 4.262 8.426 7.374 14 8.69V30h5.993C67.73 30 74 36.266 74 44c0 7.732-6.275 14-14.007 14H54zM42 88c0-9.94 8.06-18 18-18h2v-4.09c8.016-.722 14.787-5.738 18-12.73v7.434c-3.545 4.262-8.426 7.374-14 8.69V74h-5.993C52.275 74 46 80.268 46 88h-4zm-4 0c0-9.943-8.058-18-18-18h-2v-4.09c-8.012-.722-14.785-5.738-18-12.73v7.434c3.545 4.262 8.426 7.374 14 8.69V74h5.993C27.73 74 34 80.266 34 88h4zm4-88c0 9.943 8.058 18 18 18h2v4.09c8.012.722 14.785 5.738 18 12.73v-7.434c-3.545-4.262-8.426-7.374-14-8.69V14h-5.993C52.27 14 46 7.734 46 0h-4zM0 34.82c3.213-6.992 9.984-12.008 18-12.73V18h2c9.94 0 18-8.06 18-18h-4c0 7.732-6.275 14-14.007 14H14v4.696c-5.574 1.316-10.455 4.428-14 8.69v7.433z' fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}