@property --tile-columns {
  syntax: "<number>";
  initial-value: 2;
  inherits: false;
}

@property --tile-size {
  syntax: "<length>";
  initial-value: 8192px;
  inherits: false;
}

#canvas.grid {
  display: grid;
  container-name: tiles;

  --tile-columns: 4;
  grid-template-columns: repeat(var(--tile-columns), var(--tile-size));
  grid-template-rows: repeat(var(--tile-columns), var(--tile-size));
}

.tiles {
  img {
    color: gray;
    outline: 3px dashed #0006;
    display: block;
    width: var(--tile-size);
    height: var(--tile-size);
    opacity: 1;
    transition: opacity .2s;
  }

  img:nth-of-type(1n) {background-color: rgba(from black r g b  / .75);}
  img:nth-of-type(2n) {background-color: rgba(from black r g b  / .25);}

  img.onscreen {opacity: .2;}
}