/* general shake */
@keyframes shake {
  0% { transform: translate(1px, 3px); }
  40% { transform: translate(-10px, -5px); }
  60% { transform: translate(1px, 5px); }
  100% { transform: translate(0px, 0px); }
}

/* car impact animation with rotation*/
@keyframes impact-shake-rotate {
  50% { 
    rotate: calc((var(--angle) * .99) * 1rad); 
    transform: rotateX(5deg);
  }
}

@keyframes car-centrifuge-demo {
  to {
    --rotate-x: 360;
    --rotate-y: 360;
    --rotate-z: 360;
  }
}

@keyframes flicker {
  0% {
  opacity: 0.27861;
  }
  5% {
  opacity: 0.34769;
  }
  10% {
  opacity: 0.23604;
  }
  15% {
  opacity: 0.90626;
  }
  20% {
  opacity: 0.18128;
  }
  25% {
  opacity: 0.83891;
  }
  30% {
  opacity: 0.65583;
  }
  35% {
  opacity: 0.67807;
  }
  40% {
  opacity: 0.26559;
  }
  45% {
  opacity: 0.84693;
  }
  50% {
  opacity: 0.96019;
  }
  55% {
  opacity: 0.08594;
  }
  60% {
  opacity: 0.20313;
  }
  65% {
  opacity: 0.71988;
  }
  70% {
  opacity: 0.53455;
  }
  75% {
  opacity: 0.37288;
  }
  80% {
  opacity: 0.71428;
  }
  85% {
  opacity: 0.70419;
  }
  90% {
  opacity: 0.7003;
  }
  95% {
  opacity: 0.36108;
  }
  100% {
  opacity: 0.24387;
  }
}
