/* general shake */
@keyframes shake {
  0% { transform: translate(1px, 3px); }
  20% { transform: translate(-20px, -5px); }
  40% { transform: translate(1px, 12px); }
  100% { transform: translate(0px, 0px); }
}

/* car impact animation with rotation*/
@keyframes impact-shake-rotate {
  50% { rotate: calc(var(--angle) ); }
  50% { rotate: calc(var(--angle) + .01rad); }
  50% { rotate: calc(var(--angle) ); }
}