/* general shake */
@keyframes shake {
  0% { transform: translate(1px, 3px); }
  40% { transform: translate(-10px, -5px); }
  60% { transform: translate(1px, 5px); }
  100% { transform: translate(0px, 0px); }
}

/* car impact animation with rotation*/
@keyframes impact-shake-rotate {
  50% { 
    rotate: calc((var(--angle) * .99) * 1rad); 
    transform: rotateX(5deg);
  }
}

@keyframes car-centrifuge-demo {
  to {
    --rotate-x: 360;
    --rotate-y: 360;
    --rotate-z: 360;
  }
}
