/* TODO: building faces property type definitions 

@property --face-color {
  syntax: "<color>";
  initial-value: #888;
  inherits: true;
}
@property --column-color {
  syntax: "<color>";
  initial-value: #fff;
  inherits: true;
}

@property --floor-count {
  syntax: "<color>";
  initial-value: 1;
  
  ? will child elems need to know the numver of floors? 
  inherits: false; 
}

@property --column-size {
  initial-value: 8px;
}

@property --column-fill-size {
  initial-value: 60px;
}

@property --grunge {
  syntax: "*";
  initial-value: 0;
}

@property --weathering {
}

@property --roof-type {
}

*/