/* TODO: building faces property type definitions */

@property --face-color {
  syntax: "<color>";
  initial-value: #888;
  inherits: true;
}

@property --face-opacity {
  syntax: "<number>";
  initial-value: 0;
  inherits: true;
}

@property --column-color {
  syntax: "<color>";
  initial-value: #fff;
  inherits: true;
}

@property --floor-count {
  syntax: "<number>";
  initial-value: 1;
  
  /* ? will child elems need to know the numver of floors? */
  inherits: true; 
}

@property --column-size {
  syntax: "<number>";
  initial-value: 8;
  inherits: true;
}

@property --column-fill-size {
  syntax: "<number>";
  initial-value: 56;
  inherits: true;
}

@property --grunge {
  syntax: "<number>";
  initial-value: 0;
  inherits: true;
}

@property --weathering {
  syntax: "<number>";
  initial-value: 0;
  inherits: true;
}

@property --roof-type {
  syntax: "<string>";
  initial-value: "normal";
  inherits: true;
}

/* */

/* 
   DE HOKJESFABRIEK (Full Version) 
   Logica: Container op de grond, muren klappen omhoog, dak op Z-hoogte.
*/

.building {
  position: absolute;
  transform-style: preserve-3d;
  width: var(--w);
  height: var(--h);
  left: 0;
  top: 0;
  contain: layout size style;
  will-change: transform;

  /* Volgorde: Eerst naar X,Y (wereld), dan rotatie om eigen as */
  transform: rotateZ(var(--rz)) translate3d(var(--x), var(--y), 0);
  transform-origin: 0 0;
  --d: calc( var(--floor-count, 1) * 64px);

  z-index: 30;
  
  /* FIXME: fake ambient occlusion / contact shadow + ambient light coming from windows */
  box-shadow: 0 0 10px #0006, 0 0 42px 26px rgb(from var(--face-color) r g b / .25);
  
  &:not([class]) {
    background-image: url('/assets/uvmap.png');
  }

  &.gallery, 
  &.bridge {
    transform: rotateZ(var(--rz)) translate3d(var(--x), var(--y), var(--d));
    &::after {
      inset: 0;
      border-radius: 0;
      transform: translateZ(0);
      background-color: hsl(from var(--column-color) h s 12%);
    }
  }
  
  &.gallery {
    & > * {
      display: none;

      &.roof {
        display: none !important
      }
    }
  }

  &.bridge {
    
    /* stairs*/ 
    &>.wall-e {
      transform: 
        translateX(var(--w))
        translateY(var(--h))
        translateZ(0)
        rotateX(-90deg) 
        rotateY(90deg)
        scaleZ(4) rotateX(50deg)
    }
    /* stairs*/ 
    &>.wall-w {
      transform: rotateY(-15deg) scaleX(3.7) rotateZ(90deg) translateY(0%);
    }
    
  }
  
  &.walkway {
    &::after {
      content: '';
      position: absolute;
      inset: 0;;
      mask-image: radial-gradient(black 0px, black 2px, white 2px);
      mask-mode: luminance;
      mask-size: 8px 8px;
    }
  }
}

/* Basis voor alle muren-containers en hun pseudo-elementen */
.wall-n, 
.wall-e, 
.wall-s, 
.wall-w,
.roof {
  position: absolute;
  transform-style: preserve-3d;
  color: inherit;
  font-size: xx-large;
  text-align: center;
  display: grid;
  place-content: center;
  /* transition: opacity .5s .25s; */
  box-sizing: border-box;
  will-change: transform;
  backface-visibility: hidden;
}

.off-screen {
  visibility: hidden;
  
  & .wall-n, 
  .wall-e, 
  .wall-s, 
  .wall-w,
  .roof {
    opacity: 0;
  }
}

/* --- NOORD (Red) --- */
.wall-n {
  inset: 0;
  height: calc(var(--d) * 1);
  transform-origin: top;
  transform: translateZ(var(--d)) rotateX(-90deg) rotateY(-180deg); 

}

/* --- OOST (Orange) --- */
.wall-e {
  width: var(--h);
  height: var(--d); 
  padding: 0;
  content: 'EAST face';
  position: absolute;
  inset: 0;
  
  transform-origin: left top;
  
  transform: 
    translateX(var(--w))
    translateY(var(--h))
    translateZ(var(--d))
    rotateX(-90deg) 
    rotateY(90deg)
  ;
}

/* --- ZUID (Purple) --- */

.wall-s {
  /* inset: 0; */

  /* Schuif naar de onderkant van het gebouw (Zuid) */
  /* De lokale Z-as wijst nu naar voren door de 90deg rotatie */
  transform-origin: bottom;
  transform:  rotateX(-90deg);
  bottom: 0;
  height: var(--d);
  width: var(--w);
}

/* --- WEST (Green) --- */
.wall-w {
  top: 0;
  left: 0;
  width: var(--h); /* De diepte van de SVG-rect wordt de breedte van deze muur */
  height: var(--d);
  transform-origin: left top;
  
  /* Jouw specifieke as-correctie voor Inkscape */
  transform: rotateY(-90deg) rotateZ(90deg) translateY(-100%);
  
}

/* --- DA ROOF --- */
.building .roof {
  position: absolute;
  inset: 0;
  /* background: var(--c); */
  /* translated to --floor-count * 64px in Z direction */
  transform: translateZ(var(--d));
}

@property --roof-h {
  syntax: "<length>";
  inherits: true;
  initial-value: 0px;
}

@property --roof-width {
  syntax: "<length>";
  inherits: true;
  initial-value: 0px;
}

@property --roof-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0deg;
}

.building.mat-gable-roof { /* building with a puntdakje */
  
  /* We're trying to always work with multiples of 16 which in theory should help keep out sanity 🙃*/
  /* One floor level height is defined as 64px, as one square on the UV grid is 64px, making        */
  /* measuring and texturing just a bit easier: you should be able to always map 64 texture pixels  */
  /* to 64 pixels in the game world without having to set texture dimensions in css.                */
  /* Of course, you always _could_ add your own custom dimensions for a material if need be..       */

  /* (hardcoding for meaow) */
  --roof-h: calc(var(--column-size, 63px) * 1px); /* TODO: figure out where to define this in the svg / inkscape workflow */

  /* FIXME: materials should be defined in materials.css, buildings.css is only for construction! */
  --roof-texture: url(/assets/environment/roof/swtexture-com-oldroof-tiles-512.jpg);

  &:nth-child(2n), 
  &:nth-child(3n),
  &.grey-tiles {
    --roof-texture: url(/assets/environment/roof/swtexture-com-oldcroof-tiles-256.jpg);
    --bg-size: 128px;
  }

  & .wall-n, .wall-s {

    /* Total height of north & South walls is now wall ehight + roof height */
    height: calc(var(--d) + var(--roof-h)) !important;

    /* Still a rectangle rotated into perspective, but nao we cut off two triangles off the left & right top */
    clip-path: polygon(     /* memotoself: whew tekenen in x/y coordinaten suuuuuuuucks  */
      0% var(--roof-h),     /* x: linkerpunt van facade , y: onderkant dak (ie, ~dakgoot bovenop muur) */
      50% 0%,               /* x: middenpunt van facade,  y: hoogste puntje van het zadeldak */
      100% var(--roof-h),   /* x: rechterpunt van facade, y: onderkant dak (ie, ~dakgoot bovenop muur, andere kant)*/
      100% 100%,            /* x: rechterpunt van facade, y: op de grond */
      0% 100%               /* x: linkerpunt van facade,  y: grond */
    );
  }

  & .wall-n {
    /* BC of Reasons©️®️ (simply rotating the north wall upwards would put possible text upside down) */
    /* which is a total bummer so we're just doing some more Mathing 🏋️‍♂️ here: */
    
    transform: translateZ(calc(var(--d) + var(--roof-h))) rotateX(-90deg) rotateY(-180deg);
  }

  & .roof {
    position: absolute;
    transform: translateZ(var(--d));  /* Roof starts at the top of wall height */
    inset: 0;
    background: transparent;          /* Roof itself is invisible, before/after pseudo elements r the actual roof here */
    transform-style: preserve-3d;

    /* I'm here to do Math and chew bubblegum */
    /* and I'm all out of bubblegum */

    
    /* 1. Halveer de breedte met behoud van de px-eenheid (bijv. 128px / 2 = 64px) */
    --half-w: calc(var(--w) / 2);


    --roof-width: hypot(var(--half-w), var(--roof-h));
    /* --roof-length: calc(sqrt((var(--d) * var(--d)) + (var(--h) * var(--h)))); */
    
    /* 3. Atan2 op de lengths levert in beide browsers direct de hoek op */
    --roof-angle: atan2(var(--roof-h), var(--half-w));
      
    & .wall-n {
      transform: translateZ(calc(var(--d) + var(--roof-h))) rotateX(-90deg) rotateY(-180deg);
    }

    --roof-color: var(--roof-texture);

    &::before,
    &::after {
      content: "before";
      position: absolute;
      width: var(--h);
      height: var(--roof-width);

    }

     /* Linker dakhelft (West)       */
    /* Wesside 🤟 of gabled dakje   */
    &::before {
      top: 0;
      left: 0;
      background: var(--roof-color, #555);
      transform-origin: left top; 
      
      /* 1. Draai kwartslag (-90deg) */
      /* 2. Corrigeer de X-positie */
      /* 3. rotateY(180deg) flipt de texture horizontaal zodat de pannen goed om liggen */
      /* 4. rotateX(* -1) trekt hem nu vanaf de andere kant omhoog naar de nok */
      /* we have a tiny crack(gap) appearing between two halves, let's  */ 
      /* sneak a little extra (1%) length in here to cover that 🤫      */
      
      transform: 
        rotateZ(-90deg) 
        rotateY(180deg)
        rotateX(calc(var(--roof-angle) * -1))
        rotateZ(180deg)
        translateY(-100%)
        scaleY(1.1)
        rotateY(180deg);
    }

    /* Rechter dakhelft (Oost) */
    /* 👉 Eastsiiiiide!       */ 
    &::after {
      content: "after";
      top: 0;
      right: 0;                  
      background: var(--roof-color, #444);
      
      /* Slightly darker color psuedo-pseudo-3D effect */
      /* FIXME: look into reopurposing dynamic shadow from vehicle */
      filter: brightness(0.8);

      transform-origin: right top; 
      transform: 
        rotateZ(-90deg) 
        rotateX(calc(var(--roof-angle) * -1))
        translateY(-100%)
        scaleY(1.1)
        
        
      ;
    }
  }
}

/* --- GRANDSTANDS (.grandstands class) --- */

.building.mat-grandstands {
  
}

/* FIXME: don't use roof for grandstand seats */
.building.mat-grandstands .roof {
  transform-origin: bottom;

  /* 1. Bereken de exacte lengte van het schuine vlak (Pythagoras) */
  /* De nieuwe hoogte = wortel uit (hoogte_gebouw² + diepte_gebouw²) */
  --roof-length: calc(sqrt(pow(var(--d), 2) + pow(var(--h), 2)));
  
  /* 2. Zet de hoogte van het dak op deze berekende lengte */
  height: var(--roof-length);
  
  /* 3. Corrigeer de positie omdat de height nu groter is dan de --h */
  /* We trekken het dak 'omhoog' zodat de onderkant op de zuidlijn blijft */
  /* top: auto; */
  bottom: 0;

  /* 4. De hoek berekenen we met de boogtangens (atan2) */
  
  transform: 
    translateZ(16px) 
    rotateX(calc(atan2(var(--d), var(--h)) * -1));
  opacity: 1;
}


/* FIXME: update StructureFactory markup output for walls n fences: 
 * add wall types (ads, 100m boards etc). 
 */

.fence-wall {
  position: absolute;
  z-index: 30;
  transform-style: flat;
  
  transform-origin: bottom left; 
  transform: translateY(-80px) rotateZ(var(--rz)) rotateX(-90deg);
  /*
  transform: 
    rotateZ(var(--rz)) 
    rotateX(90deg); 
  */
  will-change: auto; 
 
}