#camera-viewport {
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  position: relative;
  will-change: transform;
  perspective: 1024px;
  /* De 'Infinite Floor': deze beweegt NIET mee met het scrollen */
  background-image: url('/assets/noise.png');
  background-repeat: repeat;
  background-attachment: local; /* Cruciaal: het beweegt mee met de scroll-offset */
  background-size: 200px 200px;
  
  /* Zoom Exception: we scalen de inhoud, niet de vloer */
  --camera-scale: 1;

  #zoom-layer {
    will-change: transform;
    transform: scale(var(--camera-scale));
    transform-origin: center center; 

    /* FIXME: Parallax?
    /* Every world layer transformation (scale, rotation, transform, skew?)           */
    /* must originate from the player's point of view or else we'll all just          */
    /* get sea sick I tell you hwat.                                                  */
    /* EDIT: No need to move `transform-origin` to player x,y anymore:                */
    /* the #zoom-layer element will scale in its entirety                             */
    
  }
}

.world {
  will-change: transform;
  transform-style: preserve-3d;
}