@property --perspective-size {
  syntax: "<length>";
  initial-value: 1024px;
  inherits: true;
}

@property --perspective-factor {
  syntax: "<length>";
  initial-value: 1;
  inherits: true;
}

#camera-viewport {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
