@import url(vehicle.css);

@property --driver-id {
  syntax: "*";
  initial-value: "me";
  inherits: true;
}

/* this is the generic car container. Inside is a div.car-body with more dirrrtay markup */
.car {
  --size: 256;
  width: calc(var(--size) * 1px);
  height: calc(var(--size) * 1px);
  
  position: absolute;
  inset: 0;
  
  display: grid;
  place-content: center;
  
  --driver-id: attr(id);

  /* 
  So in order to limit the paint rectangle size for every player 
  we wrap them in a box (.car) that pmuch only does the `translate`.

  Inside .car we can then put a (slightly smaller) player entity 
  in all the complicated html we may want. 
    
  We need to separate an entity into layers like this because if 
  we add a drop shadow filter, it would rotate with the player breaking
  the 'rotating sun' immersion. So the shadow goes on the wrapper
  element, which any translated elements inside then 'inherit'
  (in reality they of course help _determine_ whatever the parent's filter paints).  
  */

  translate: 
    calc((var(--x) - var(--size) * .5) * 1px) 
    calc((var(--y) - var(--size) * .5)  * 1px);

  > .car-body {

    width: 172px;
    height: 96px;
    rotate: calc(var(--angle) * 1rad );

    color: white;

    z-index: 1;
    
    place-content: center;
    display: grid;

    transform: rotateX(var(--rotate-y), 0deg) rotateY(var(--rotate-y), 0deg); /* we can rotate around the local body axis for dramatic flips */
    
    
    transform-style: preserve-3d;
    perspective: 512px;
    
    > i {
      font-style: normal !important;
      position: absolute;
      inset: 0;
    }

    .chassis {
      background-image: url('/assets/cars/default/interior-scaled.png');
      background-size: contain;
      
      .interior {

      }
    }

    .bodywork {
      
      /* Masking */ 
      mask-image: url('/assets/cars/porsche/porsche-livery.png');
      mask-size: contain;
      
      --pattern: linear-gradient(transparent, transparent 35%, white 35%, white 48%, transparent 48%, transparent 52%, white 52%, white 65%, transparent 65%);
      
      /* bodywork paint + livery + coating + weathering stack */
      /* 1. weathering  */
      /* 2. no livery havin plain ahh body color livery" slight enhancement layer*/ 
      /* 3. the actual livery, a default racing stripe */
/* a default racing stripe */


      background-image: 
        var(--weathering-bg, linear-gradient(transparent, transparent))

        linear-gradient(to right,
          oklab(from var(--player-color) calc(l - 0.25) a b),
          var(--player-color)
        ),

        var(--livery-bg, linear-gradient(transparent, transparent));

      background-blend-mode: 
        multiply, multiply, normal;
      background-size: contain;
      
      translate: 0 0 5px; /* lift the body a little from the chassis for pseudo 3d effect */

    }

    /* custom livery layer */
   .livery {
     position: absolute;
     inset: 0;
     justify-content: center;
     

     /* TODO: design differentbadge shapes */
     /* racer id badge always goes on top of livery */
     &::after {
       position: absolute;
       width: 2rem;
       height: 1.5rem;
       right: 1ex;
       top: 50%;
       rotate: 90deg;
       translate: 0 -50%;
       text-align: center;
       z-index: 1;
       padding: .125ex;
       content: attr(data-drivernum);
       background-color: white;
       color: var(--player-color);
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     }
   }

    .mods {
      /* empty container for now */
    }
  }
}