@import url(vehicle.css);

@property --player-color {
  syntax: "<color>";
  initial-value: #BADA55;
  inherits: true;
}

@property --driver-color {
  syntax: "<color>";
  initial-value: #BADA55;
  inherits: true;
}

@property --driver-num {
  syntax: "<string>";
  initial-value: "99";
  inherits: true;
}

@property --driver-name {
  syntax: "<string>";
  initial-value: "me";
  inherits: true;
}

/* body rotations for 3d effects. */
@property --rotate-x {
  syntax: "<number>";
  initial-value: 0;
  inherits: true;
}
@property --rotate-y {
  syntax: "<number>";
  initial-value: 0;
  inherits: true;
}
@property --rotate-z {
  syntax: "<number>";
  initial-value: 0;
  inherits: true;
}

@property --fuel {
  syntax: "<string>";
  initial-value: "";
  inherits: true;
}

@property --health {
  syntax: "<number>";
  initial-value: 0;
  inherits: true;
}

@property --message {
  syntax: "<string>";
  initial-value: "";
  inherits: true;
}

@property --fuel-message {
  syntax: "<string>";
  initial-value: "";
  inherits: true;
}

@property --size {
  syntax: "<number>";
  initial-value: 256;
  inherits: true;
}

/* this is the generic car container. Inside is a div.car-body with more dirrrtay markup */
.car {
  --size: 256;
  width: calc(var(--size) * 1px);
  height: calc(var(--size) * 1px);
  
  position: absolute;
  inset: 0;
  
  display: grid;
  place-content: center;
  
  --driver-color: var(--player-color, white);
  --driver-id: attr(data-drivername);
  --driver-num: attr(data-drivernum);
  
  transition: --driver-color 1s linear;

  /* 
  So in order to limit the paint rectangle size for every player 
  we wrap them in a box (.car) that pmuch only does the `translate`.

  Inside .car we can then put a (slightly smaller) player entity 
  in all the complicated html we may want. 
    
  We need to separate an entity into layers like this because if 
  we add a drop shadow filter, it would rotate with the player breaking
  the light source ('sun') immersion. So the shadow goes on the wrapper
  element, which any translated elements inside then 'inherit'
  (in reality they of course help _determine_ whatever the parent's filter paints).  
  */

  translate: 
    calc((var(--x) - var(--size) * .5) * 1px) 
    calc((var(--y) - var(--size) * .5)  * 1px);

  & > .filter-wrap {
    filter: 
      drop-shadow(0px 0 16px #0009)
      drop-shadow(var(--dynamic-shadow))
      url(#specularLight);
  }

  &:not([data-team]), [data-team=""] {
    & > .filter-wrap {
      filter: 
        drop-shadow(0px 0 16px #0009)
        drop-shadow(var(--dynamic-shadow))
        url(#specularLight)
        url(#pixelate);
    }
  }

  &[data-team=""], &:not([data-team])      { --team-mask: url(/assets/cars/porsche/porsche-body-mask.png); }
  &[data-team="ferrari"]      { --team-mask: url(/assets/cars/ferrari/ferrari-body-mask.png); }
  &[data-team="ford"]         { --team-mask: url(/assets/cars/ford/ford-body-mask.png); }
  &[data-team="lamborghini"]  { --team-mask: url(/assets/cars/lamborghini/lamborghini-body-mask.png); }
  &[data-team="porsche"]      { --team-mask: url(/assets/cars/porsche/porsche-body-mask.png); }

  & .car-body {

    width: 172px;
    height: 96px;
    rotate: calc(var(--angle) * 1rad ); /* vehicle heading */

    --rotate-x : 0;
    --rotate-y : 0;
    --rotate-z : 0;

    color: white;
    z-index: 1;

    
    display: grid;
    place-content: center;

    perspective: 512px;
    transform-style: preserve-3d;

    transform: 
      rotateX(calc(var(--rotate-x) * 1deg)) 
      rotateY(calc(var(--rotate-y) * 1deg)) 
      rotateZ(calc(var(--rotate-z) * 1deg));
    
    /* animation: car-centrifuge-demo 10s linear forwards infinite; */

    transition: opacity, transform;
    transition-duration: .5s, .25s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);

    &[data-drivernum]::after {
       content: attr(data-drivernum);
       position: absolute;
       right: 1.7ex;
       top: 50%;
       rotate: 90deg;
       translate: 0 -50%;
       z-index: 1;
       padding: 0.15ex 0.25ex;
       text-align: center;
       font-size: small;

      /* TODO: design different badge shapes */
       --badge-bg: white; /* or gradient(s)... */
       --badge-outline-color: black;
       --badge-outline-width: 2px;
       --badge-radius: 1px;
       --badge-drivernum-color: black;
       --badge-league-bg-color: green; /* a badge has a league-identifying mark, in this case a thick colored stroke acrioss the top */
       --badge-league-text-color: white;
       background-color: var(--badge-bg);
       color: var(--badge-drivernum-color);
       outline: 1.5px solid var(--badge-outline-color, black);

      /* font shorthand order: */
       /* 
      font-style: italic;
      font-weight: bold;
      font-size: 0.8em;
      line-height: 1.2;
      font-family: "Arial", sans-serif;
      */
       font-family: initial normal 10px/10px
        var(--player-font, "Impact"), fantasy, sans-serif; /* FIXME: --player-font *must* be one of preset selection for de-hassling (and/or legal) reasons I think? */
       min-width: 1.2em;
       font-variant-numeric: tabular-nums;
       border-radius: 1px;
       border-top: 4px solid var(--badge-league-bg-color, orange);
     }

    & i {
      background-size: contain;
      background-position: center;
      font-style: normal !important;
      mask-position: center;
      mask-size: contain;
      mask-repeat: no-repeat;
    } 

    /* TODO: currently using <i> elements for economic reasons, research <b>, <q>, <u> & friends */ 
    & * {
      position: absolute;
      inset: 0;
    }

    & .chassis {
      background-image: url('/assets/cars/default/interior-scaled.png');
      
      
      .interior {
        /* placeholder for customisations? (interior lights, custom dashboard colors */
      }
    }
    
    & .bodywork {
      /*
      /* in a previous version, we'd raise the body a little
       * from the chassis for pseudo 3d effect but then you also have to 
       * translate descendant (pseudo) elements which, let's jsut not ok
       */
      --driver-color: var(--player-color, white);
      transition: --driver-color .5s linear;
      translate: 0 0;

      /* Masking */ 
      mask-image: var(--team-mask);
      
      /*
       * bodywork paint + livery + coating + weathering stack: 
       * 1. weathering  
       * 2. "no livery havin plain ahh body color livery" w slight color gradient enhancement layer
       * 3. the actual livery (currently, a default double racing stripe) 
       */
      


      background-image: 
        
        var(--weathering-bg, linear-gradient(transparent, transparent)),

        linear-gradient(
          to right,
          oklab(from var(--driver-color) calc(l - 0.25) a b),
          var(--driver-color)
        );


      background-blend-mode: 
        multiply, 
        normal,
        normal;

         /* racer id badge always goes on top of livery */
     
    }

    & .base-color {
      /* metallic */
      background: url('/assets/noise.png');
      position: absolute;
      inset: 0;
      mix-blend-mode: overlay;
      opacity: 0.75;
    }
    /* custom livery layer */
    & .livery {
      position: absolute;
      inset: 0;
      justify-content: center;
      background-image: var(--livery-bg, linear-gradient(transparent, transparent));

      /* default car bodywork mask image (alpha) is a grayscale image of the car with countour lines etc. */
      /* here we're repurposing the bodywork image to add some actual details to the car body by overlaying the (grayscaled) image */
      &::after {
        content: '';
        position: absolute;
        inset: 0;
        background-image: var(--team-mask);
        background-position: center;
        background-size: contain;
        mix-blend-mode: overlay;
      }

      &.classic-stripes {
        /* a default racing stripe */  
        --pattern: linear-gradient(transparent, transparent 35%, #ffffff91 35.5%, #ffffff6b 48%, transparent 48.5%, transparent 52%, #ffffff75 52.5%, #ffffff7d 65%, transparent 65.5%);
        --livery-bg: var(--pattern);
      }

      &.polkadot {  
        background-color: hsla(from var(--driver-color) h s 100% / .95);
        mask-image: radial-gradient(circle, rgb(255, 255, 255) 2px, transparent 2px),
            radial-gradient(circle, rgb(255, 255, 255) 2px, transparent 2px);
        mask-size: 12px 12px, 12px 12px !important;
        mask-position: 0 0, 6px 6px !important;
        mask-repeat: repeat, repeat;
      }

      &.polkadot-fade {
        background-color: var(--driver-color);
        mask-image: 
            linear-gradient(to left, white 5%, transparent), radial-gradient(circle, rgb(255, 255, 255) 4px, transparent 4px),
            radial-gradient(circle, rgb(255, 255, 255) 4px, transparent 4px);
        mask-size: 100% 100%, 16px 16px, 16px 16px !important;
        mask-position: 0 0, 8px 8px !important;
        mask-repeat: repeat, repeat;
      }
    }

    & .mods {
      /* empty container for now */
    }
  }
  
  &[data-team="ferrari"] .livery.special {
    --livery-bg: url('/assets/cars/ferrari/ferrari-livery-special.png');
  }
  &[data-team="ford"] .livery.special {
    --livery-bg: url('/assets/cars/ford/ford-livery-special.png');
  }
  &[data-team="lamborghini"] .livery.special {
    --livery-bg: url('/assets/cars/lamborghini/lamborghini-livery-special.png');
  }
  &[data-team="porsche"] .livery.special {
    --livery-bg: url('/assets/cars/porsche/porsche-livery-special.png');
  }

  &[data-fuel-left] { --message: var(--fuel-message)}
  &[data-state="garage"] { --message: 'in garage'}
  &[data-state="pitbox"] { --message: var(--fuel-message) }
  &[data-state="lowfuel"] {--message: 'low fuel'}
  
  &[data-fuel-left],
  &[data-state="garage"],
  &[data-state="pitbox"], 
  &[data-state="lowfuel"] {
    & .player-tag {
      transition-delay: 0s;
      opacity: 1;
      & i::after {
        content: ' (' var(--message) ')';
        font-size: small;
        padding-inline: .6ex 0;
        opacity: .5;
        vertical-align: center;
      }
    }
  }

  &[data-state="pitbox"][data-speed^="0"]::after {
    mask-image: url('/assets/environment/pits/porsche.png');
    mask-size: 168%;
    mask-repeat: no-repeat;
    content: '';
    position: absolute;
    inset: 0;
    rotate: calc(var(--player-angle) * 1rad);
    z-index: 1000;
    mask-position: 53% 48%;
    
    scale: 1.1;
    background: var(--player-color) url('/assets/environment/pits/porsche.png');
    mask-mode: luminance;
    mask-type: luminance;
    background-blend-mode: color-burn;
    mask-composite: revert-rule;
    background-size: 168%;
    background-repeat: no-repeat;
    background-position: 53% 48%;
    
  }
}