@property --rot {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0;
}

@property --animation-iteration {
  syntax: "*";
  inherits: true;
  initial-value: 1;
}

.emitter-object {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  transform-origin: center;
  translate: calc(var(--left) + -50%) calc(var(--top) + -50%);
  rotate: var(--rot, 0deg);
  aspect-ratio: 1;
  overflow: hidden;

  --step: 0;
  --row: 0;
  
  --pos-y: calc(var(--row, 0) * var(--spriteHeight, 128px ) * -1px);
  --pos-x: calc(var(--step, 0) * var(--spriteWidth, 128px ) * -1px);
  object-fit: cover;
  object-position: var(--pos-x,0) var(--pos-y,0);

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: var(--pos-x,0) var(--pos-y,0);
  }

  &.loop {
    --animation-iteration: infinite;
  }

  &.fade {
    animation: fadeSprite 10s var(--animation-delay, 5s) linear forwards 1;
  }

  &.marshal {
    width: 64px !important;
    border-radius: 100%;
    &.dead {
      background-image: url('/assets/people/splat.png'); 
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  
  &.smoke {
    
    --mask-image: url('/assets/smoke/smoke-sprite-2.png');
    
    scale: 1;
    --to-scale: 2;

    animation: 
      smokeRotateScale 3s 0s linear forwards var(--animation-iteration), 
      blur 2s 0s cubic-bezier(.6,.04,.98,.34) forwards var(--animation-iteration),
      fadeSprite 1s 2s linear forwards var(--animation-iteration) !important;
    
    & img {
      background-color: white;
      mask-image: var(--mask-image);
      mask-size: cover;
      mask-repeat: no-repeat;
      mask-position: var(--pos-x) var(--pos-y);
      mask-type: alpha;
    }
    
    
    &.fire {
      scale: .5;
      --to-scale: 2;
      --mask-image: url('/assets/smoke/smoke-sprite.png');
      
      & img {
        mix-blend-mode: hard-light;
        filter: brightness(2);
        animation: 
          fire .5s linear forwards;
        background-image: radial-gradient(yellow, orange, orangered, rgba(255, 0, 0, 0.39));
      }
    }

    &.gravel {
      --mask-image: url('/assets/smoke/smoke-sprite-3.png') ;
      opacity: 1;
      background: transparent;

      --animation-iteration: infinite;
      animation: 
        blur 2s 0s cubic-bezier(.6,.04,.98,.34) forwards var(--animation-iteration),
        smokeRotateScale 2s 0s linear forwards var(--animation-iteration),
        fadeSprite 1s 1s linear forwards var(--animation-iteration)  !important;

      & img {
        background: #b19b6abb;
      }
    } 

    &.grass {
      --mask-image: url('/assets/smoke/smoke-sprite-4.png');
      & img {
        background: 
          radial-gradient(circle, hsl(67, 37%, 22%), rgb(48, 64, 18), rgba(53, 71, 18, 0.259));
          mask-mode: luminance;
          mask-composite: intersect;
      }
    }
  }

  &.rubber {
    /* receive velocity and calculate width (ie, length of tiretrack) and opacity */
    --from-opacity: calc((100 - var(--speed) / 100 ));
    scale: calc(1.5 + var(--speed) / 200) .9;
    transform-origin: center;
    --animation-delay: 30s;
    img {
      object-fit: fill;
    }

    &.dirt, &.grass, &.gravel {
      &:not(.asphalt):not(.paddock):not(.pitlane) {
        opacity: .75;
        --animation-delay: 5s;
        mask-image: url('/assets/environment/fibers.png');
        mask-position: 40px;
        filter: drop-shadow(0 -4px #fff6); 
      }
    }
  }

}

@keyframes blur {
  from, 50% {
    filter: blur(0);
  }
  to {
    filter: blur(8px);
  }
}

@keyframes fadeSprite {
  to {
    opacity: 0;
  }
}

@keyframes smokeRotateScale {
  to {
    rotate: 0deg;
    scale: var(--to-scale, 2);
  }
}

@keyframes fire {
  0%, 10% {
    filter: brightness(1);
  }
  to {
    filter: brightness(.1);
    
  }
}