@property --message {
  syntax: "*";
  initial-value: "";
  inherits: true;
}

& .player-tag {
  padding: .33ex .6ex .33ex .33ex;
  color: white;

  /* TODO: move to .vehicle .player-tag */
  position: absolute;
  inset: 0% auto auto 50%;
  translate: -50% 0;

  border-radius: .4ex;
  white-space: nowrap;
  text-overflow: ellipsis;
  opacity: 1;
  transition-property: opacity, translate;
  transition: .5s 2s ease-out;

  & b {
    color: contrast-color(var(--driver-color));
    background-color: var(--driver-color);
    display: inline-flex;
    vertical-align: initial;
    text-align: center;
    flex-direction: column;
    place-content: center;
    letter-spacing: -1px;
    padding: .2ex .4ex;
    border-radius: .2ex;
    width: 3.3ex;

    &:empty::after {
      content: '67';
      opacity: .5;
    }
  }

  & i {
    font-style: normal;
    padding-inline: .3ex;
  }
}

.player[data-state=""], 
.player[data-state="asphalt"] {
  & .player-tag {
    opacity: 0;
  }
}


[data-state="garage"] { --message: ''}
[data-state="pitbox"] { --message: 'pitbox'}
[data-state="pitlane"] { --message: 'pit'}


[data-state="garage"],
[data-state="pitbox"],
[data-state="pitlane"] {
  
  & .player-tag {
    transition-delay: 0s;
    opacity: 1;
    & i::after {
      content: var(--message);
      font-size: small;
      padding-inline: .6ex 0;
      opacity: .5;
      vertical-align: center;
    }
  }
}