
/* --- [Generic .vehicle placeholder style allowing for some state indication] --- */
.vehicle {

  --transition-duration: .75;
  transform-style: preserve-3d;
  perspective: 512px;
  z-index: 20;

  > div {
    
    transform-style: preserve-3d;

    &.player {
      --collider-color: orange;
    }
  
    &.opponent {
      --collider-color: red;
    }
  
    &.npc {
      --collider-color: forestgreen;
    }
  }


  &[data-state="colliding"] {
    --collider-color: black !important;
    
    > div {
      animation: impact-shake-rotate calc(var(--animation-duration, 0.2) * 1s) calc(var(--animation-delay, 0) * 1s) infinite;
      
      &:after {
        outline-width: 3px !important;
        outline-offset: 2px !important;
      }
    }
  }
}

.vehicle-lights {
  --size: 1024px;
  display: block;
  width: var(--size);
  height: var(--size);
  position: absolute;
  left: calc(var(--player-x) * 1px - calc(var(--size) / 2));
  top: calc(var(--player-y) * 1px - calc(var(--size) / 2));
  translate: calc(var(--player-x) * -1px + (calc(var(--player-x) - var(--cam-x)) * 1px ) ) calc(var(--player-y) * -1px + (calc(var(--player-y) - var(--cam-y)) * 1px ));
  background: url(/assets/cars/car-lights-2.png) 50% 50% no-repeat;
  rotate: calc(var(--player-angle) * 1rad);
  background-size: 50%;

&::after {
    content: '';
    width: 5px;
    height: 5px;
    inset: 50%;
    z-index: 100;
    position: absolute;
    background: green;
  }
}

