
/* --- [Generic .vehicle placeholder style allowing for some state indication] --- */
.vehicle {

  --transition-duration: .75;
  filter: 
    drop-shadow(0px -12px 16px #0009)
    drop-shadow(0px -5px 3px #0006)
    url(#specularLight);
  transform-style: preserve-3d;
  perspective: 512px;

  > div {
    
    transform-style: preserve-3d;

    &.player {
      --collider-color: orange;
    }
  
    &.opponent {
      --collider-color: red;
    }
  
    &.npc {
      --collider-color: forestgreen;
    }
  }


  &[data-state="colliding"] {
    --collider-color: black !important;
    
    > div {
      animation: impact-shake-rotate calc(var(--animation-duration, 0.2) * 1s) calc(var(--animation-delay, 0) * 1s) infinite;
      
      &:after {
        outline-width: 3px !important;
        outline-offset: 2px !important;
      }
    }
  }
}

