/* maybe move this to world.css,Ë™idk if its necessary yet */

#canvas {
    /* had to remove `overflow: scroll` as it had some
    impact on 3D elements being clipped, forgot where I
    learned this (google) */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE/Edge */
}

#canvas::-webkit-scrollbar {
    display: none; /* Chrome/Safari */
}