#hud {
  position: absolute;
  inset: 1.33rem;
  line-height: 2;
  color: #fffc;
  font-variant-numeric: tabular-nums;
  pointer-events: none;
  user-select: text;

  & ul {
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: start;
    
    & li {
      width: 100%;
    }
  }

  & > * {    
    display: flex;
    flex-flow: column;
    width: clamp(8rem, 24ch, 40ch);
    gap: 1px;
    position: absolute;
    display: inline-flex;
    padding-inline: 0;
    transition-behavior: allow-discrete;
    
    transition: 
      opacity .75s,
      translate .5s .25s, 
      height .5s .25s,
      border-radius .5s;
    overflow: clip;
    pointer-events: all;
    
    --box-radius: .8ex;


    /* Target the first VISIBLE item */
    & > *:nth-child(1 of *:not(:empty)) {
      border-top-left-radius: var(--box-radius);
      border-top-right-radius: var(--box-radius);
    }

    /* Target the last VISIBLE item */
    & > *:nth-last-child(1 of *:not(:empty)) {
      border-bottom-left-radius: var(--box-radius);
      border-bottom-right-radius: var(--box-radius);
    }

    &:empty {
      opacity: 0;
      height:0;
      padding: 0;
      transition: 
      opacity .25s .25s,
      translate .5s .25s, 
      height .25s .25s;
    }

    /* lekker duidelijke selectors, vriend    */
    /* direct descendants of HUD ui sections (usually spans, occasional button) */
    & > *:not(button) {
      background: rgb(0 0 0 / 0.15);
      backdrop-filter: blur(4px);
      
      margin-block-end: 1px;
      padding-inline: 1ex;
      
      transition-property: opacity, translate;
      transition: 
        .75s cubic-bezier(0.075, 0.82, 0.165, 1), 
        color .25s .25s linear;
      
      /* move HUD elements with no content to display           */
      /* out of the way so they'll transition in when appropes  */
      &:empty {
        translate: 100% 0;
        color: transparent;
        margin-block: 0;

        &:before {
          opacity: .25!important;
        }
      }
    }

    &.session {
      top: 1ex;
      left: 1ex;
      text-align: center;

      & .status {
        &[data-status*='yellow flag'] {
          background-color: goldenrod;
          color: black;
          transition-delay: .5s;
        }
        &[data-status*='red flag'] {
          background-color: red;
          color: black;
          transition-delay: .5s;
        }
      }
    }

    &.timing {
      top: 1ex;
      right: 1ex;
      text-align: end;
      
      li {
        display: flex;
        justify-content: space-between;
      
        &::before {
          font-size: 1rem;
          line-height: 2.6rem;
          opacity: .75;
          text-transform: uppercase;
        }

        &.thislap::before {
            content: 'lap ' attr(data-lap);
          }

        &.bestlap { 
          --content: 'best';
          &[data-lap] {
            --content: 'best (L' attr(data-lap)')';
          }

          &::before {
            content: var(--content);
          }
        }

        &.lastlap::before{ 
          content: 'last'
        }
        &:empty::before {
          display: none;
        }
        &.fastest {
          background-color: purple;
        }
      }
    }

    &.racecontrol {
      width: 45ch;
      inset-inline: 50%;
      top: 1ex;
      translate: -50% 0;

      & > :empty {
        translate: 0 calc(-100% - 2rem);
        opacity: 0;
        height: 0;
        padding: 0;
      }

      & > * { padding-block: 1ex; }

      & .notice,
      & .warning {
        display: inline;
        padding-inline-start: 3rem;

        &:before {
          content: var(--icon);
          font-family: 'Material icons';
          vertical-align: text-bottom;
          margin-inline-end: 1ex;
          color: white;
          opacity: 1;
          position: absolute;
          inset: 0.8ex auto auto 1ex;
        }
      }
      & .notice { --icon: '\ef49'; }
      & .warning { --icon: '\e002'; }
    }

    &.team {
      right: 1ex;
      top: 50%;
      translate: 0 -50%;
      width: clamp(12rem, 34ch, 60ch);

      & .radio, .status { 
        
        padding-block: .75ex;
        padding-inline-start: 3rem;
        white-space: pre-line;

        &:before {
          font-family: 'Material icons';
          content: '\f0e2';
          color: white;
          opacity: 1;
          position: absolute;
          inset: 0.8ex auto auto 1ex;
        }
      }
      & .status {
        &::before {
          content: '\ef48';
        }
      }
    }

    &.car {
      right: 1ex;
      bottom: 1ex;
    }

    &.minimap {
      bottom: 1ex;
      left: 1ex;

      cursor:crosshair;

      --track-color:#fff3;
      
      &:hover {
        --track-color: #fff9;
        
        & svg {
          scale: 1.1;
        }

        & circle {
         stroke-width: 1024px;
         stroke: rgb(from var(--player-color) r g b / .5);

         transition: stroke-width .5s .15s;
        }
      }

      & svg {
        transform-origin: center center;
        scale: 1;
        transition: scale .5s cubic-bezier(0.165, 0.84, 0.44, 1);
        
        & circle {
          stroke-width: 0px;
          transition: stroke-width 1s;
        }

        & path {
          stroke: var(--track-color) !important;
          transition: stroke .5s .15s;
        }
      }
    }

    &:is(menu) {
      flex-direction: row;
      bottom: 1ex;
      left: 50%;
      translate: -50%;
      width: max-content;

      /* Target the first VISIBLE item */
      & > *:nth-child(1 of *:not(:empty)) {
        border-radius: var(--box-radius) 0 0 var(--box-radius);
      }

      /* Target the last VISIBLE item */
      & > *:nth-last-child(1 of *:not(:empty)) {
        border-radius: 0 var(--box-radius) var(--box-radius) 0;
      }
    }

    & .competitors li {
      text-align: start;
      position: relative;
      
      --text-color: white;

      & .player-tag {
        position: relative;
        translate: none;
        transition: none;
        inset: 0;

        & b {
          line-height: 1.7;
        }
      }

      &:after {
        content: attr(data-shortname);
        text-transform: uppercase;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }
}

#camera-viewport:has(.player[data-state="pitbox"]) {
  & ~ #hud menu button[popovertarget="garage-menu"] {
    color: var(--player-color) !important;
    transition-duration: .25s;
    transition-delay: 1s
  }
}