main {
  height: 100vh;
  width: 100vw;
  position: relative;
}

dialog {
	
	& * {
		pointer-events: none;
	}


	margin-inline: auto;
	border: none;
	background: transparent;
	color: white;
	line-height: 2;
	place-self: center;
	display: grid;
	margin: auto;
	opacity: 0;
	pointer-events: none;
	transition: opacity 1s, display 1s;
	transition-behavior: allow-discrete;

	&::backdrop {
		background: rgba(0, 0, 0, 0.2);
		backdrop-filter: blur(0px);
	}

	&[open], &:popover-open {
		opacity: 1;
		display: block;
		pointer-events: all;
		backdrop-filter: blur(8px);

		& * {
			pointer-events: initial;
		}


		&::backdrop {
			
		}
	}
}

[data-screen="game"] dialog {
		
}

@starting-style {
	dialog {
		opacity: 0;
		display: none;
	}
}
