main {
  height: 100vh;
  width: 100vw;
  position: relative;
}

dialog {
	width: min(80vw, 1920px);
	margin-inline: auto;
	border: none;
	background: transparent;
	color: white;
	place-self: center;
	display: grid;
	margin: auto;
	opacity: 0;
	pointer-events: none;
	transition: opacity 1s, display 1s;
	transition-behavior: allow-discrete;

	&::backdrop {
		background: rgba(0, 0, 0, 0.2);
		backdrop-filter: blur(0px);
	}

	&[open] {
		opacity: 1;
		display: initial;
		pointer-events: all;
		&::backdrop {
			backdrop-filter: blur(8px);
		}
	}
}

@starting-style {
	dialog {
		opacity: 0;
		display: none;
	}
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
