main {
  height: 100vh;
  width: 100vw;
  overflow: scroll;
  position: relative;
}

dialog {
    border: 4px solid #000;
    padding: 3rem;
    background: #fff;
    font-family: "Barlow", "Roboto Condensed", sans-serif;
    box-shadow: 10px 10px 0px #000;
    &[open] {
      display: grid;
      margin: auto;
    }
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.7);
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"], input[type="number"] {
    border: 2px solid #000;
    padding: 5px;
    width: 100%;
}

button#start-race-btn {
    background: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
}

button#start-race-btn:hover {
    background: #333;
}
