@keyframes movinggrid {
  to {
    background-position: 4px 4px;
  }
}

/* FIXME: selectors should be specific to the main menu? */

@keyframes orbit {
  to {
    rotate: 360deg;
  }
}

.material-icons {
  transition: all .15s;
  user-select: none;
}

form {
  accent-color: var(--player-color);
  caret-color: var(--player-color);

  clip-path: inset(0 0 0 0 round 10px);

  & .button,
  button {
    border: none;
    background-color: rgb(0 0 0 / .5);
    color: inherit;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 1em;
    line-height: inherit;
    padding-inline: 2ex;
    cursor: pointer;
    color: rgb(255 255 255/ .5);
    text-decoration: none;
    text-transform: uppercase;
    transition: color .2s;
    
    &:hover,&:focus {
      color: white;
    }

    &:active {
      color: rgb(234, 175, 26);
    }
  }
  
  details:has(input:invalid):not(:has(*:focus)) {
    &[open] {
      summary {
        position: relative;

        &::before {
          content : '!';
          color: black;
          background-color: orange;
          width: 3.3ex;
          clip-path: polygon(0 100%, 50% 11%, 100% 100%, 0 100%);
        }
      }
    }
  }

  details:has(fieldset:invalid) ~ details {
    
    opacity: .5;
    transition-delay: 0s;
    
    summary {
      pointer-events: none;
    }
  }

  details {
    margin-bottom: 1px;
    transition: opacity .5s .25s;

    &::details-content {
      transition: .25s cubic-bezier(0.22, 0.61, 0.36, 1);
      transition-behavior: allow-discrete;
      interpolate-size: allow-keywords;
      min-height: 0;
      max-height: 0;
      height: 0;
      overflow: hidden;
    }

    article {
      gap: 4rem;
      flex-direction: column;
      justify-content: flex-start;
      /* overflow: hidden auto; */
      scroll-behavior: smooth;
      scroll-snap-type:x mandatory;
      padding: 0 5rem;
      background: #000a;
      height: 50vh;
      align-items: flex-start;
      /* min-height: 20rem; */
    }
    
    /* this is a hack to hide the ::details-content on the last menu section (buttons)
    fix the markup for the submit section */
    &:has(summary:last-child)::details-content {
      min-height: 0;
    }

    summary {
      cursor: pointer;
      background: rgba(0, 0, 0, 0.75);
      line-height: 2;
      padding-inline-start: 1ex;
      color: var(--player-color, #fff9);
      font-size: 1.2em;
      transition: .2s;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:hover, &:focus{
        color: color-mix(in srgb, var(--player-color), white);
        background: #000d;
      }
      
      &::before {
        position: absolute;
        inset: auto 1rem auto auto;
        padding: 0.5rem 0.3rem .1rem;
        line-height: 1.1;
        text-align: center;
        font-weight: bold;
        font-size: var(--font-size);
        aspect-ratio: 1 !important;
        width: var(--font-size);
        --font-size: 1rem;
      }

      &::marker {
        content: '';
      }

      & .material-icons {
        margin-inline-end: .5rem;
      }
    }
    
    &[open] {
    /* always keep one tab open */
      
      > summary {
        pointer-events: none;
        background: #000f;
        color: color-mix(in srgb, var(--player-color), white);
        
        & .material-icons {
          margin-inline-end: .75rem;
          color: white;
        }
      }

      &::details-content {
        background: #000a;
        min-height: 0;
        max-height: unset;
        height: auto;
      } 
    }
  }

  fieldset {
    
    padding: 1rem 0;
    margin: 0 3vw 1px;
    border: none;
    justify-content: space-between;
    gap: 1rem;
    height: 100%;

    & label {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1ex;
      align-content: center;
      align-items: center;
      cursor: pointer;
      padding: 1rem;
      position: relative;
      
      > span {
        /* display: flex; */
        flex-flow: column;
        align-items: center;
        color: rgb(255 255 255 / .5);
      }
      
      .material-icons {
        font-size: 4rem;
        scale: .75;
        transition: color .5s;

        &:is(input:focus ~ span) {
          outline: 2px solid currentColor;
        }
      }

      input, select {
        font-family: inherit;
        font-size: 1.1em;
        line-height: 2rem;

        background-color: transparent;
        border-color: transparent;
        border-style: none none dotted;
        
        color: white;
        opacity: .5;
        outline: none;

        transition: .25s;
        text-align: end;

        &:focus {
          opacity: 1;
          border-color: #fff3;
          color: var(--gelbe);
        }

        &[type="number"] {
          width: 4rem;
        }
        &[type=range] {
          width: 5rem;
          height: 5rem;
          rotate: -90deg;
        }
      }
      
      &:has(*:invalid:not(:focus)) {
        color: var(--warning-color) !important;
        accent-color: var(--warning-color);
        & > * {
          color: inherit;  
          accent-color: inherit;
        }
        &::after {
          content: '!';
          position: absolute;
          width: 1lh;
          border-radius: 1lh;
          background-color: var(--warning-color);
          color: black;
          text-align: center;
          font-weight: 900;
          left: -.75lh;
        }
      }

      option {
        background-color: #000d;
        text-align: start;
      }

      & :last-child {
        justify-self: end;
      }

      input[type="radio"],
      input[type="checkbox"] {
        height: 1.3rem;
        width: 1.3rem;
        accent-color: inherit;
      }

      input[disabled] ~ * {
        opacity: .25 !important;
        cursor: default;
      }

      &:hover, &:focus, &:focus-within {

        background-color: hsl(from var(--player-color) h s 7% / 100%);
        transition: color, background-color, border-color;
        transition-duration: .2s;

        & > * {
          transition: inherit;
        }

        input:not(:checked):not([disabled]) {
          + span, img {
            opacity: .75;
          }
        }
      }

      &:focus-within {
        color: white;
        & > * {
          color: white;
        }
      }

    }

    &.garage {
      perspective: 172px;

      .vehicle {

        transform: rotateX(15deg);

        &::before {
          content: '';
          position: absolute;
          inset: 0 !important;
          background: url(/assets/uvmap.png) 512px 0;
          translate: 0 !important;
          z-index: 0 !important;
          mask: radial-gradient(white 0%, #fffc 2%, #fff6 30%, #fff3 50%, transparent 70%, transparent 100%);
        }

        &::before,
        & .car-body {
          transition: opacity .5s .05s;
          animation: 
            rotate 30s linear forwards infinite,
            fakedrive 5s linear forwards infinite;
        }

        &:not([data-team]) {
          &::before, 
          & .car-body {
            animation-play-state: paused !important;
          }
        }
      }
    }

    &.track {
      label {
        border-radius: .5ex;
        padding-inline: 2rem;

        &:hover, &:focus {
          background-color: hsl(from var(--player-color) h s 12% / 100%);
          & span { color: var(--player-color);}
        }

        &:has(input[type=radio]:checked) {
          & span {
            color: white;
          }
          
          background-color: var(--player-color);
        }
      }

      .track-preview {
        --preview-size: calc(256px * 1.5);
        width: var(--preview-size); 
        height: var(--preview-size); 
        overflow: clip;
        margin-inline: auto; 
        filter: blur(0px) !important;
        border-radius: 50%;
        border: 8px solid var(--player-color);
        perspective: 256px;
        
        & img[alt="track preview"] {
          display: block;
          height: var(--preview-size);
          width: var(--preview-size);
          mask: radial-gradient(white, transparent);
          place-content: center;
          text-align: center;
        }
      }
    }  

  }

  .scroll-strip {
    overflow: scroll;
    display: flex;
    inline-size: calc(100cqw - 14rem);
    height: 256px;
    scroll-behavior: smooth;
    
    scroll-snap-type: x mandatory;

    & > * {
      display: block;
      flex: 1 0 90%;
      scroll-snap-align: start;
      
    }
  }
}

.hud {
  position: absolute;
  inset: 0;
  line-height: 2;
  color: #fffc;
  pointer-events: none;
  
  & ul {
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: start;
    margin: 0;
    & li {
      width: 100%;
    }
  }

  & > * {    
    display: flex;
    flex-flow: column;
    width: 22ch;
    position: absolute;
    display: inline-flex;
    padding-inline: 0;
    transition: opacity .25s;

    &:empty {opacity: 0;}

    /* lekker duidelijke selectors, vriend */
    & > * {
      background: rgb(0 0 0 / 0.5);
      margin-block-end: 1px;
      padding-inline: 1ex;
      transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1), color .25s .25s linear;
      
      &:empty {
        translate: calc(100% - 2rem) 0;
        color: transparent;
        &:before {
          opacity: .25!important;
        }
      }
    }

    &.session {
      top: 1ex;
      left: 1ex;
      text-align: center;

      .status {
        &[data-status*='yellow flag'] {
          background-color: goldenrod;
          color: black;
          transition-delay: .5s;
        }
        &[data-status*='red flag'] {
          background-color: var(--rode);
          color: black;
          transition-delay: .5s;
        }
      }
    }

    &.timing {
      top: 1ex;
      right: 1ex;
      text-align: end;
      
      li {
        display: flex;
        justify-content: space-between;
      
        &.thislap::before {
            content: 'lap ' attr(data-lap);
          }

        &.bestlap::before{ 
          content: 'best';
        }

        &.lastlap::before{ 
          content: 'last'
        }
        &:empty::before {
          display: none;
        }
        &.fastest {
          background-color: purple;
        }
      }
    }

    &.racecontrol {
      width: 45ch;
      inset-inline: 50%;
      top: 1ex;
      translate: -50% 0;

      > :empty {
        translate: 0 calc(-100% - 2rem);
      }
      
      & .notice {
        display: flex;

        &:before {
          font-family: 'Material icons';
          content: '\ef49';
          vertical-align: text-bottom;
          margin-inline-end: 1ex;
          color: white;
          opacity: 1;
        }

      }

      .fastest { color: purple }
      .invalidated { color: var(--gelbe)}
    }

    &.team {
      right: 1ex;
      top: 50%;
      translate: 0 -50%;
      & .radio{ 
        display: flex;
        flex-wrap: wrap;

        &:before {
          font-family: 'Material icons';
          content: '\f0e2';
          vertical-align: text-bottom;
          margin-inline-end: 1ex;
          color: white;
          opacity: 1;
        }
        b, span {
          margin-inline-start: .6ex;
        }
        .pitbox {
          color: var(--rode)
        }
        .pitlane {
          color: var(--gelbe)
        }
        .racetrack {
          color: var(--gront);
        }
      }
    }

    &.car {
      right: 1ex;
      bottom: 1ex;
    }

    &.help {
      bottom: 1ex;
      left: 1ex;
    }
    & .competitors li {
      text-align: start;
      position: relative;
      
      --text-color: white;

      &.ferrari {--bg-color: rgb(255, 17, 0); }
      &.lamborghini {--bg-color: rgb(234, 175, 26); --text-color: black; }
      &.porsche {--bg-color: white; --text-color: #d61b1b; }
      &.ford {--bg-color: darkblue }

      &:before {
        content: attr(data-carnumber);
        font-weight: bold;
        margin-inline-end: 1ex;
        background-color: var(--bg-color);
        color: var(--text-color);
        padding-inline: .5ex;
        height: 2rem;
        display: inline-block;
        line-height: 1.5; 
        border-radius: .3ex;
        min-width: 1.2rem;
        text-align: center;
      }


      &:after {
        content: attr(data-shortname);
        text-transform: uppercase;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
    
    
    
    & [data-fps^="3"] { color: var(--gront)}
    & [data-fps^="2"] { color: var(--gelbe)}
    & [data-fps^="1"] { color: var(--rode)}

  }
}

body.busy {
  cursor: wait;
  
  & a, button, dialog, label {
    pointer-events: none;
  }
}