@keyframes movinggrid {
  to {
    background-position: 4px 4px;
  }
}

/* FIXME: selectors should be specific to the main menu? */

@keyframes orbit {
  to {
    rotate: 360deg;
  }
}

.material-icons {
  transition: inherit;
  vertical-align: text-bottom;
  font-size: inherit;
  user-select: none;
}

& .button,
button {
  border: none;
  background-color: rgb(0 0 0 / .5) !important;
  color: inherit;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 1em;
  line-height: inherit;
  padding-inline: 2ex;
  cursor: pointer;
  color: rgb(255 255 255/ .5);
  text-decoration: none;
  text-transform: uppercase;
  transition: .1s;
  pointer-events: all;
  user-select: none;
  border-radius: .33ex;

  &:hover, &:focus {
    color: white;
    text-shadow: 0 0 1ex var(--player-color);
    outline: none;
    box-shadow: inset 0 0 0 2px var(--player-color);
  }
  
  &:active {
    background-color: var(--player-color) !important;
    color: contrast-color(var(--player-color)) !important;
  }
}

form {
  accent-color: var(--player-color);
  caret-color: var(--player-color);

  clip-path: inset(0 0 0 0 round .66ex);

  
  details:has(input:invalid):not(:has(*:focus)) {
    &[open] {
      summary {
        position: relative;

        &::before {
          content : '!';
          color: black;
          background-color: orange;
          width: 3.3ex;
          clip-path: polygon(0 100%, 50% 11%, 100% 100%, 0 100%);
        }
      }
    }
  }

  details:has(fieldset:invalid) ~ details {
    
    opacity: .5;
    transition-delay: 0s;
    
    summary {
      pointer-events: none;
    }
  }

  details {
    margin-bottom: 1px;
    transition: opacity .5s .25s;

    &::details-content {
      transition: .25s cubic-bezier(0.22, 0.61, 0.36, 1);
      transition-behavior: allow-discrete;
      interpolate-size: allow-keywords;
      min-height: 0;
      max-height: 0;
      height: 0;
      overflow: auto;
    }

    article {
      gap: 4rem;
      flex-direction: column;
      justify-content: flex-start;
      /* overflow: hidden auto; */
      scroll-behavior: smooth;
      scroll-snap-type:x mandatory;
      padding: 0 5rem;
      
      height: 50vh;
      align-items: flex-start;
      /* min-height: 20rem; */
    }
    
    /* this is a hack to hide the ::details-content on the last menu section (buttons)
    fix the markup for the submit section */
    /* FIXME: the approach is illegal (using <button> inside an interactive (<summary>) element) */
    &:has(summary:last-child)::details-content {
      min-height: 0;
    }

    summary {
      cursor: pointer;
      background: rgba(0, 0, 0, 0.75);
      line-height: 2;
      padding-inline-start: 1ex;
      color: var(--player-color, #fff9);
      font-size: 1.2em;
      transition: .2s;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:has(> button:first-child:last-child) {
        justify-content: center;
        padding-block: 1rem;
        pointer-events: none;
        & button {
          pointer-events: all;
        }
      }

      &:hover, &:focus{
        color: color-mix(in srgb, var(--player-color), white);
        background: #000d;
      }
      
      &::before {
        position: absolute;
        inset: auto 1rem auto auto;
        padding: 0.5rem 0.3rem .1rem;
        line-height: 1.1;
        text-align: center;
        font-weight: bold;
        font-size: var(--font-size);
        aspect-ratio: 1 !important;
        width: var(--font-size);
        --font-size: 1rem;
      }

      &::marker {
        content: '';
      }

      & .material-icons {
        margin-inline-end: .5rem;
      }
    }
    
    &[open] {
    /* always keep one tab open */
      
      > summary {
        pointer-events: none;
        background: #000c;
        color: color-mix(in srgb, var(--player-color), white);
        
        & .material-icons {
          margin-inline-end: .75rem;
          color: white;
        }
      }

      &::details-content {
        &:not(:empty) {
          padding-block: 2rem;
        }
        background: #000a;
        min-height: 0;
        max-height: unset;
        height: auto;
      } 
    }
  }

  fieldset {
    
    padding: 1rem 0;
    margin: 0 3vw 1px;
    border: none;
    justify-content: space-between;
    gap: 1rem;
    height: 100%;

    /* defaults to 2 columns but may have an extra 3rd colum */
    & label, div {
      display: grid;
      grid-template-columns: 1fr 1fr auto; 
      gap: 1ex;
      align-content: center;
      align-items: center;
      cursor: pointer;
      padding: 1rem;
      position: relative;
      
      > span {
        /* display: flex; */
        flex-flow: column;
        align-items: center;
        color: rgb(255 255 255 / .5);
      }
      
      .material-icons {
        font-size: 4rem;
        scale: .75;
        transition: color .5s;

        &:is(input:focus ~ span) {
          outline: 2px solid currentColor;
        }
      }

      input, select {
        font-family: inherit;
        font-size: 1.1em;
        line-height: 2rem;

        background-color: transparent;
        border-color: transparent;
        border-style: none none dotted;
        
        color: white;
        opacity: .5;
        outline: none;

        transition: .25s;
        text-align: end;

        &:focus {
          opacity: 1;
          border-color: #fff3;
          color: var(--gelbe);
        }

        &[type="number"] {
          width: 4rem;
        }
        &[type=range] {
          min-width: 5rem;
        }
      }
      
      &:has(*:invalid:not(:focus)) {
        color: var(--warning-color) !important;
        accent-color: var(--warning-color);
        & > * {
          color: inherit;  
          accent-color: inherit;
        }
        &::after {
          content: '!';
          position: absolute;
          width: 1lh;
          border-radius: 1lh;
          background-color: var(--warning-color);
          color: black;
          text-align: center;
          font-weight: 900;
          left: -.75lh;
        }
      }

      option {
        background-color: #000d;
        text-align: start;
      }

      & :last-child {
        justify-self: end;
      }

      input[type="radio"],
      input[type="checkbox"] {
        height: 1.3rem;
        width: 1.3rem;
        accent-color: inherit;
      }

      input[disabled] ~ * {
        opacity: .25 !important;
        cursor: default;
      }

      &:hover, &:focus, &:focus-within {

        background-color: hsl(from var(--player-color) h s 7% / 100%);
        transition: color, background-color, border-color;
        transition-duration: .2s;

        & > * {
          transition: inherit;
        }

        input:not(:checked):not([disabled]) {
          + span, img {
            opacity: .75;
          }
        }
      }

      &:focus-within {
        color: white;
        & > * {
          color: white;
        }
      }

    }

    &.garage {
      perspective: 172px;
      pointer-events: none;
      
      .vehicle {

        transform: rotateX(15deg);

        &::before {
          content: '';
          position: absolute;
          inset: 0 !important;
          background: url(/assets/uvmap.png) 512px 0;
          translate: 0 !important;
          z-index: 0 !important;
          mask: radial-gradient(white 0%, #fffc 2%, #fff6 30%, #fff3 50%, transparent 70%, transparent 100%);
        }

        &::before,
        & .car-body {
          transition: opacity .5s .05s;
          animation: 
            rotate 30s linear forwards infinite,
            fakedrive 5s linear forwards infinite;
        }

        &:not([data-team]) {

          &::before, 
          & .car-body {
            filter: url(#pixelate);
            /* animation-play-state: paused !important; */
          }
        }
      }
    }

    &.track {
      label {
        border-radius: .5ex;
        padding-inline: 2rem;

        &:hover, &:focus {
          background-color: hsl(from var(--player-color) h s 12% / 100%);
          & span { color: var(--player-color);}
        }

        &:has(input[type=radio]:checked) {
          & span {
            color: white;
          }
          
          background-color: var(--player-color);
        }
      }

      .track-preview {
        --preview-size: calc(256px * 1.5);
        width: var(--preview-size); 
        height: var(--preview-size); 
        overflow: clip;
        margin-inline: auto; 
        filter: blur(0px) !important;
        border-radius: 50%;
        border: 8px solid var(--player-color);
        perspective: 256px;
        
        & img[alt="track preview"] {
          display: block;
          height: var(--preview-size);
          width: var(--preview-size);
          mask: radial-gradient(white, transparent);
          place-content: center;
          text-align: center;
        }
      }
    }  

  }

  .scroll-strip {
    overflow: scroll;
    display: flex;
    inline-size: calc(100cqw - 14rem);
    height: 256px;
    scroll-behavior: smooth;
    
    scroll-snap-type: x mandatory;

    & > * {
      display: block;
      flex: 1 0 90%;
      scroll-snap-align: start;
      
    }
  }
}

/* set min-width only on game menu UI fieldset, ie not on player vehicle dashboard */
dialog form fieldset {
  min-width: 60ch;
  max-width: 80vw;
}

.fastest {
  --highlight-color: purple;
}

table {
  width: 100%;
  max-width: 120ch;
  line-height: 2;
  border-collapse: collapse; 
  
  & thead { 
    display: table-header-group;
    color: #fffa;
    text-transform: lowercase;
    font-size: smaller;
    line-height: 3;
    & th, td {
      display: table-cell;text-align: end;
    } 
  }

  & tbody { display: table-row-group; }

  & tr {
    display: table-row; 
    
    &:nth-child(odd) {
      background-color: #0003;
    }

    &.fastest {
      background-color: var(--highlight-color);
    }
  }

  & th, td {display: table-cell;text-align: end;} 
}

body.busy {
  cursor: wait;
  & * {
    cursor: wait;
  }
  /* & a, button, dialog, label {
    pointer-events: none;
  } */
}

/* EEM TRACK SELECT MENU TESTJE */

/* 1. Registreer de variabele zodat CSS er vloeiend tussen kan animeren */
@property --helicam-angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

@property --helicam-radius {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: false;
}

[data-screen="lobby-menu"] {
  & #worldmap {
      
      /* Start in the center (50% 50%)          */
      /* Use sin() for X-axis, cos() for Y-axis */
      /* Mulitply by circle radius              */
      background-position: 
          calc(50% + sin(var(--helicam-angle)) * var(--helicam-radius)) 
          calc(50% + cos(var(--helicam-angle)) * var(--helicam-radius)) !important;

        background-size: 300%;
        /* animation: flyCircle 60s linear infinite; */
        animation: spiralPattern 120s linear forwards infinite;
  }
}

@keyframes flyCircle {
    from {
        --helicam-angle: 0deg;
    }
    to {
        --helicam-angle: 360deg;
    }
}

@keyframes spiralPattern {
    from {
        --helicam-angle: 0deg;
        --helicam-radius: 0%;    /* Start exact in het midden */
    }
    50% {
        --helicam-angle: 720deg;
        --helicam-radius: 50%;    
    }
    to {
        --helicam-angle: 1440deg; /* 4 rondjes (4 * 360deg) */
        --helicam-radius: 0%;   /* Eindigt op een grote cirkel, net binnen de randen (50% - 40% = 10%) */
    }
}