
#canvas.world {
  
  --animation-duration: 1;

  --level-artwork :var(--level-artwork-url) 0 0 / calc(4 * 8192px) calc(4 * 8192px);


  /* TODO light layering tests */
  &::after {
    content: '';
    position: fixed;
    inset: 0;
    

    mix-blend-mode: multiply;

    background-attachment: fixed;
    background-color: #0d1342a1;
    background-image: url(/levels/assen/assen_lights.webp);
    background-position: calc(var(--player-x) * -1px + (50vw)) calc(var(--player-y) * -1px + (50vh));
    background-size: calc(4 * 8192px) calc(4 * 8192px);

    /* mask: linear-gradient(white, white), url(/levels/assen/assen_elevated.png) 0 0 / calc(4 * 8192px) calc(4 * 8192px);
    mask-position:  var(--player-position);
    mask-composite: exclude;
    image-rendering: pixelated; */
  }

  .elevated {
    --player-position-with-offset: calc(var(--player-x) * -1px + (50vw)) calc(var(--player-y) * -1px + (50vh));
    
    position: fixed;
    inset: 0;
    background: url(/levels/assen/assen_elevated.webp) var(--player-position-with-offset) / calc(4 * 8192px) calc(4 * 8192px);
    background-attachment: fixed;

    transform-origin: var(--player-position);
    
    z-index: 10;
    
  } 

}