@property --player-angle {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

@property --world-size {
  syntax: "<length>";
  inherits: true;
  initial-value: 8192px;
}

#canvas.world {
  
  /* 8k: easy to remember, fun to type number (provided u have a numpad) */
  --world-size: calc(4 * 8192px);
  --animation-duration: 1;
  --player-position: calc(var(--player-x) * 1px) calc(var(--player-y) * 1px);
  --player-position-with-offset: calc(var(--cam-x) * -1px ) calc(var(--cam-y) * -1px );
  width: var(--world-size);
  height: var(--world-size);
  background-repeat: no-repeat;
  background-size: calc(var(--world-size) * .5) calc(var(--world-size) * .5);
  background-position: 
    0 0, calc(var(--world-size) * .5) 0, 
    0 calc(var(--world-size) * .5), calc(var(--world-size) * .5) calc(var(--world-size) * .5);
  translate: var(--player-position-with-offset) -128px;
  perspective: calc(512px * 1);
  perspective-origin: var(--player-position);
  will-change: translate;
  transform-style: preserve-3d;
  transition:  translate 0s linear, filter 1.5s;

  
    /* TODO light layering tests */
  & > #light-layer {
    /**
      * We place a layer exactly over the camera window, that translates along with the camera.
      * Its blend-mode multiplies darkens / lightens the world.
      * A mask then cuts out a hole of the darkened/lighterened layer, 
      * revealing the "sun and/or headlight-lit ground below".
    */
    content: '';
    position: fixed;
    inset: 0;
    translate: calc((var(--cam-x) * 1px) ) calc((var(--cam-y) * 1px) );
    
    background-size: var(--world-size) var(--world-size);
    background-position: calc(var(--cam-x) * -1px + 10vw) calc(var(--cam-y) * -1px + 10vh);
    mix-blend-mode: multiply;
    pointer-events: none;
    z-index: 100;
    width: 120vw;
    height: 120vh;
    translate: 
      calc(var(--cam-x) * 1px ) 
      calc(var(--cam-y) * 1px ) 
      0px; /* Z translate y tho?? */
    left: -10vw;
    top: -10vh;
    opacity: abs(var(--pp-time-of-day, 0));

    transition: opacity 1s;

  }

}
