@property --player-angle {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

#canvas.world {
  
  /* 8k: easy to remember, fun to type number (provided u have a numpad) */
  --world-size: calc(4 * 8192px);
  --animation-duration: 1;
  --player-position: calc(var(--player-x) * 1px) calc(var(--player-y) * 1px);
  --player-position-with-offset: calc(var(--cam-x) * -1px ) calc(var(--cam-y) * -1px );
  width: var(--world-size);
  height: var(--world-size);
  background-repeat: no-repeat;
  background-size: calc(var(--world-size) * .5) calc(var(--world-size) * .5);
  background-position: 
    0 0, calc(var(--world-size) * .5) 0, 
    0 calc(var(--world-size) * .5), calc(var(--world-size) * .5) calc(var(--world-size) * .5);
  translate: var(--player-position-with-offset) -128px;
  perspective: calc(512px * 1);
  perspective-origin: var(--player-position);
  will-change: translate;
  transform-style: preserve-3d;
  transition:  translate 0s linear, filter 1.5s;

  
    /* TODO light layering tests */
  #light-layer {
    /**
      * We place a layer exactly over the camera window, that translates along with the camera.
      * Its blend-mode multiplies darkens / lightens the world.
      * A mask then cuts out a hole of the darkened/lighterened layer, 
      * revealing the "sun and/or headlight-lit ground below".
    */
    content: '';
    position: fixed;
    inset: 0;
    translate: calc((var(--cam-x) * 1px) ) calc((var(--cam-y) * 1px) );
    background-image: url(/levels/monaco/monaco_lights.webp);
    
    background-size: var(--world-size) var(--world-size);
    background-position: calc(var(--cam-x) * -1px + 10vw) calc(var(--cam-y) * -1px + 10vh);
    mix-blend-mode: multiply;
    pointer-events: none;
    z-index: 100;
    width: 120vw;
    height: 120vh;
    translate: 
      calc(var(--cam-x) * 1px ) 
      calc(var(--cam-y) * 1px ) 
      0px; /* Z translate y tho?? */
    left: -10vw;
    top: -10vh;
    opacity: abs(var(--pp-time-of-day, 0));

    transition: opacity 1s;

    mask-type: alpha;
     mask-image: 
     radial-gradient(circle, transparent 256px, white 720px),
     conic-gradient(from calc(var(--player-angle) * 1rad - 90deg), black, black 140deg, transparent 160deg, transparent 210deg, black 220deg),
     radial-gradient(circle, white 64px, transparent 128px)
    ; 

    mask-position: 
      calc(var(
    --player-x) - var(--cam-x) * 1px) 
      calc(var(--player-y) - var(--cam-y) * 1px);
  }

}

.tree {
  position: absolute;
  width: 256px;
  height: 256px;
  
  color: hsl(from var(--tree-color) h s 8%);
  display: grid;
  /* place-content: start center; */
  transform-style: preserve-3d;
  
  &:before {
    content: '';
    place-self: center;
    width: 16px;
    height: 16px;
    border: 1px solid var(--tree-color);
    border-radius: 50%;
  }

  /* debug viz */
  &::after {
    /* content: attr(class); */
    grid-area: 1 / 1 / -1 / -1;
    display: block;
    inset: 0;
    position: absolute;
    padding: 2ex;
    background: rgb(from var(--tree-color) r g b / 20%);
    border: 6px dotted rgb(from var(--tree-color) r g b / 50%);
    border-radius: 7%;
  }

  > span { /* tree card */
    transform-origin: bottom;
    height: 256px;
    width: 256px;
    background: green url('/assets/environment/pine-1.png');
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotateX(-90deg);
    position: absolute;
    bottom: 50%;
    left: 0;
    background-position: bottom;
    transform-style: preserve-3d;
    transition: 1.5s;
  }
  
  > span + span { /* tree card but rotated 90deg*/
    background-color: darkgreen;
    transform: rotateX(0deg) rotateY(90deg) rotateZ(-90deg);
    transform-style: preserve-3d;
    
    /* let's have a good think about this */
    /* for one: these lil shits need to be */ 
    /* IntersectionObserver'd tf out of the rendering PL, like yesterday lmao */
    /* also: maybe only to "realtime" shadown anim in walking mode.
    
    /* tree shadow */
    /*
    &::after { 
      content: '';
      position: absolute;
      inset: 0;
      background: inherit;
      
      transform-origin: bottom;
      transform: rotateX(90deg) translateZ(1px) rotateZ(140deg) scaleY(2.5);
      filter: brightness(0) opacity(.25) blur(50px);
      transition: 10s;
    }
    */
  }
}
