
@property --player-angle {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

#canvas.world {
  
  /* 8k: easy to remember, fun to type number (provided u have a numpad) */
  --world-size: calc(4 * 8192px);
  --animation-duration: 1;
  
  --player-position: calc(var(--player-x) * 1px) calc(var(--player-y) * 1px);
  --player-position-with-offset: calc(var(--cam-x) * -1px ) calc(var(--cam-y) * -1px );
  width: var(--world-size);
  height: var(--world-size);
  background-repeat: no-repeat;
  background-size: calc(var(--world-size) * .5) calc(var(--world-size) * .5);
  background-position: 
    0 0, calc(var(--world-size) * .5) 0, 
    0 calc(var(--world-size) * .5), calc(var(--world-size) * .5) calc(var(--world-size) * .5);
  
    translate: var(--player-position-with-offset) 0px;
  
  perspective: 512px;
  perspective-origin: var(--player-position);
  will-change: translate;
  transform-style: preserve-3d;
  
  
  transition:  translate 0s linear, filter 1.5s;
  
    /* TODO light layering tests */
  #light-layer {
    /**
      * We place a layer exactly over the camera window, that translates along with the camera.
      * Its blend-mode multiplies darkens / lightens the world.
      * A mask then cuts out a hole of the darkened/lighterened layer, 
      * revealing the "sun and/or headlight-lit ground below".
    */
    content: '';
    position: fixed;
    inset: 0;
    translate: calc((var(--cam-x) * 1px) ) calc((var(--cam-y) * 1px) );
    background-image: url(/levels/assen/assen_lights.webp);
    
    background-size: var(--world-size) var(--world-size);
    background-position: calc(var(--cam-x) * -1px + 10vw) calc(var(--cam-y) * -1px + 10vh);
    mix-blend-mode: multiply;
    pointer-events: none;
    z-index: 100;
    width: 120vw;
    height: 120vh;
    translate: 
      calc(var(--cam-x) * 1px ) 
      calc(var(--cam-y) * 1px ) 
      0px; /* Z translate y tho?? */
    left: -10vw;
    top: -10vh;
    opacity: 1;
    mask-type: alpha;
     mask-image: 
     radial-gradient(circle, transparent 256px, white 720px),
     conic-gradient(from calc(var(--player-angle) * 1rad - 90deg), black, black 140deg, transparent 160deg, transparent 210deg, black 220deg),
     radial-gradient(circle, white 64px, transparent 128px)
    ; 

    mask-position: 
      calc(var(
    --player-x) - var(--cam-x) * 1px) 
      calc(var(--player-y) - var(--cam-y) * 1px);
  }

}


/* 
   DE HOKJESFABRIEK (Full Version) 
   Logica: Container op de grond, muren klappen omhoog, dak op Z-hoogte.
*/

.building {
  position: absolute;
  transform-style: preserve-3d;
  width: var(--w);
  height: var(--h);
  left: 0;
  top: 0;

  /* Volgorde: Eerst naar X,Y (wereld), dan rotatie om eigen as */
  transform: rotateZ(var(--rz)) translate3d(var(--x), var(--y), 0);
  transform-origin: 0 0;
  --d: calc( var(--floor-count, 1) * 64px);
  transition: .2s linear;
  background-image: url('/assets/uvmap.png');
  z-index: 20;
  transition: .5s .5s;
  
  /* FIXME: fake ambient occlusion / contact shadow + ambient light coming from windows */
  box-shadow: 0 0 10px #0006, 0 0 42px 26px rgb(from var(--face-color) r g b / .25);


  &.off-screen {
    opacity: 0.5;
  }
}

/* Basis voor alle muren-containers en hun pseudo-elementen */
.wall-n, 
.wall-e, 
.wall-s, 
.wall-w,
.roof {
  position: absolute;
  transform-style: preserve-3d;
  color: inherit;
  font-size: xx-large;
  text-align: center;
  display: grid;
  place-content: center;
  transition: opacity .5s 1.5s;
}

.off-screen {
  .wall-n, 
  .wall-e, 
  .wall-s, 
  .wall-w,
  .roof {
    opacity: 0;
  }
}

/* --- NOORD (Red) --- */
.wall-n {
  inset: 0;
  height: calc(var(--d) * 1);
  transform-origin: top;
  transform: rotateX(-90deg) translate(0px, -100%); /* Klap omhoog vanaf de bovenkant */
  background-color: red;
}

/* --- OOST (Orange) --- */
.wall-e {
  width: var(--h);
  height: var(--d); 
  padding: 0;
  content: 'EAST face';
  position: absolute;
  inset: 0;
  background-color: orange ;
  transform-origin: left top;
  
  transform: 
    translateX(var(--w))
    translateY(var(--h))
    translateZ(var(--d))
    rotateX(-90deg) 
    rotateY(90deg)
  ;
}

/* --- ZUID (Purp) --- */

.wall-s {
  /* inset: 0; */
  background-color: purple ;
  
  /* Schuif naar de onderkant van het gebouw (Zuid) */
  /* De lokale Z-as wijst nu naar voren door de 90deg rotatie */
  transform-origin: bottom;
  transform:  rotateX(-90deg);
  bottom: 0;
  height: var(--d);
  width: var(--w);

  /* clips a door.. (FIXME: gestures) ..somewhere in the bottom */
  clip-path: polygon(0 0%, 100% 0, 100% 100%, calc(50% - 8px) 100%, calc(50% - 8px) calc(100% - 20px), 36% calc(100% - 20px), 36% 100%, 0 100%)
}

/* --- WEST (Green) --- */
.wall-w {
  top: 0;
  left: 0;
  width: var(--h); /* De diepte van de SVG-rect wordt de breedte van deze muur */
  height: var(--d);
  transform-origin: left top;
  
  /* Jouw specifieke as-correctie voor Inkscape */
  transform: rotateY(-90deg) rotateZ(90deg) translateY(-100%);
  background-color: green;
}



/* --- DA ROOF --- */
.building .roof {
  position: absolute;
  inset: 0;
  /* background: var(--c); */
  /* trsnalted to --floor-count * 64px in Z direction */
  transform: translateZ(var(--d));
}

/* --- GRANDSTANDS (.grandstands class) --- */

.building.mat-grandstands {
  --d: 128px;
}

/* FIXME: don't use roof for grandstand seats */
.building.mat-grandstands .roof {
  transform-origin: bottom;

  /* 1. Bereken de exacte lengte van het schuine vlak (Pythagoras) */
  /* De nieuwe hoogte = wortel uit (hoogte_gebouw² + diepte_gebouw²) */
  --roof-length: calc(sqrt(pow(var(--d), 2) + pow(var(--h), 2)));
  
  /* 2. Zet de hoogte van het dak op deze berekende lengte */
  height: var(--roof-length);
  
  /* 3. Corrigeer de positie omdat de height nu groter is dan de --h */
  /* We trekken het dak 'omhoog' zodat de onderkant op de zuidlijn blijft */
  /* top: auto; */
  bottom: 0;

  /* 4. De hoek berekenen we met de boogtangens (atan2) */
  /* Geen gegokte graden meer, maar pure geometrie */
  transform: 
    translateZ(0) 
    rotateX(calc(atan2(var(--d), var(--h)) * -1));
  opacity: 1;
}

/* Grandstand front gets a fence with advertising (for now) */
.building.mat-grandstands .wall-e,
.building.mat-grandstands .wall-s,
.building.mat-grandstands .wall-w {
  background: url('/assets/environment/advertising/honkin.svg') repeat-x left bottom, linear-gradient(to top, white, white 44px, transparent 45px, transparent), repeating-linear-gradient(45deg, #333 0, #999 1px, transparent 0, transparent 10px),    repeating-linear-gradient(-45deg, #666 0, #333 1px, transparent 0, transparent 10px), repeating-linear-gradient(90deg, #333, #333 5px, transparent 6px, transparent 128px);
  background-size: 128px 48px, 100%;
}

/* FIXME: update StructureFactory markup output for walls n fences: 
 * add wall types (ads, 100m boards etc). 
 */

.fence-wall {
  position: absolute;
  
  transform-style: flat;
  
  transform-origin: top left; 
  transform: 
    rotateZ(var(--rz)) 
    rotateX(90deg); 

  will-change: auto; 
  transition: opacity .5s linear;

  /* FIXME: build generic/central intr6nObserver 3D-culling fix  */
  &.off-screen { 
    opacity: 0;
  }
}